<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>등록/수정(erp901001p2)</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.dhtmlx.com/edge/fonts/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/skins/terrace/dhtmlx.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css"/>
    <script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/commCode.js"></script>

    <script th:inline="javascript">
        var srchInput;
        var myWins;
        var myCalendarInptdt;
        var myCalendarOutdt;
        var sendObject;
        fnObj = {
            winOpen: {
                commSrch: function (title, cmpyCd, srchCtgr, srchInput) {		//공통코드 찾기 팝업
                    windowId = "commSrch";
                    windowText = title + "commSrch";
                    windowUrl = "/commSrch"
                    windowLeft = 0;
                    windowTop = 0;
                    windowWidth = 700;
                    windowHeight = 400;
                    windowsModal = false;
                    windowOnClose = function (windowId) {

                        return true;
                    };
                    windowSendObject = {
                        cmpyCd: cmpyCd,
                        srchCtgr: srchCtgr,
                        srchInput: srchInput,
                        windowId: windowId
                    };


                    myWindowsOpen(myWins, windowId, windowText, windowUrl, windowLeft, windowTop, windowWidth, windowHeight, windowsModal, windowOnClose, windowSendObject);

                    myWins.window(windowId).attachEvent("onClose", function (win) {

                        return true;
                    });
                },	//END of commSrch : function(){
                rtnObject: function (windowId, rtnObj, srchInput) {	//popup window 에서 주는 리턴을 여기서 처리하고싶은데로 처리함
                    if (windowId == "commSrch") {
                        if (srchInput == "text") {
                            $("#prDcCd").val(rtnObj[0].commCd);
                            $("#prDcNm").val(rtnObj[0].commNm);
                        } else if (srchInput == "textArea") {
                            var areaContent = "";
                            for (var i = 0; i < rtnObj.length; i++) {
                                areaContent = areaContent + rtnObj[i].commCd;

                                if (i < rtnObj.length - 1) {
                                    areaContent = areaContent + "\n";
                                }
                            }
                            $("#srchArea").val(areaContent);
                        }
                    }

                },	//END of rtnObject : function(windowId,rtnObj){
            },	//END of winOpen:{
            comboOpen: {

                comboCmpyCd: function () {
                    myComboCmpyCd = new dhtmlXCombo("cmpyCd");
                    comboList(myComboCmpyCd, 'A', 'COMM', 'CMPY_CD', '', 'Y', '');
                    myComboCmpyCd.selectOption(myComboCmpyCd.getIndexByValue(/*[[${sendObject.cmpyCd}]]*/));
                    myComboCmpyCd.setFontSize("12px", "12px");
                    myComboCmpyCd.attachEvent("onChange", function (value, text) {
                        //myGrid.clearAll(false);
                    });
                    myComboCmpyCd.readonly(true)
                },


                comboTalkUseYn: function () {
                    myTalkComboUseYn = new dhtmlXCombo("alrmTlkYn");
                    myTalkComboUseYn.addOption([{value: "Y", text: "사용"}]);
                    myTalkComboUseYn.addOption([{value: "N", text: "미사용"}]);

                    myTalkComboUseYn.selectOption(0);
                    myTalkComboUseYn.setFontSize("12px", "12px");

                    myTalkComboUseYn.attachEvent("onChange", function (value, text) {
                        if (value == "Y") {
                            $("#alrmTlkHpTitle").html("<b>알림톡연락처<font color='red'>*</font></b>");
                        } else {
                            $("#alrmTlkHpTitle").html("알림톡연락처");
                        }
                    });
                    myTalkComboUseYn.readonly(true)

                },


                comboUseYn: function () {
                    myComboUseYn = new dhtmlXCombo("useYn");
                    myComboUseYn.addOption([{value: "Y", text: "사용"}]);
                    myComboUseYn.addOption([{value: "N", text: "미사용"}]);

                    myComboUseYn.selectOption(0);
                    myComboUseYn.setFontSize("12px", "12px");
                    myComboUseYn.readonly(true)
                },
            },	//END of comboOpen : {
            gridOpen: {
                grid: function () {
                    myGrid.setImagePath("https://cdn.dhtmlx.com/edge/skins/terrace/imgs/");
                    myGrid.setHeader("삭제체크," +
                        "CUD," +
                        "고유ID," +		//3
                        "회사코드," +
                        "화주코드," +
                        "이름," +
                        "휴대전화번호," +	//7
                        "Y/N," +
                        "메모," +
                        "저장자," +
                        "저장일," +
                        "수정자," +		//12
                        "수정일");

                    myGrid.setColumnIds("chk," +
                        "cud," +
                        "alrmAgntlistId," +
                        "cmpyCd," +
                        "agntCd," +
                        "userNm," +
                        "alrmTlkHp," +
                        "alrmTlkYn," +
                        "memo," +
                        "saveUser," +
                        "saveTime," +
                        "updtUser," +
                        "updtTime");

                    myGrid.setInitWidths(
                        "70," +
                        "70," +
                        "70," +		//3
                        "70," +
                        "70," +
                        "70," +
                        "100," +		//7
                        "40," +
                        "100," +
                        "80," +
                        "100," +
                        "80," +		//12
                        "100");

                    myGrid.setColAlign("center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center," +
                        "center");


                    myGrid.setColTypes("ch," +
                        "ro," +
                        "ro," +
                        "ro," +
                        "ro," +
                        "ed," +
                        "ed," +
                        "ed," +
                        "ro," +
                        "ro," +
                        "ro," +
                        "ro," +
                        "ro," +
                        "ro");

                    myGrid.init();		//이걸써야 세팅한 그리드가 표시가 된다
                    myGrid.enableSmartRendering(true);	//스마트렌더링기능 가능	//데이터를 많이 구했더라도 제일 처음 에는 화면 크기에 나올수있을만큼만 보여준다. 스크롤을 움직이면 그떄 갖고있던 데이터들을 그려주기 시작한다
                    myGrid.enablePreRendering(10);	//20220423 정연호 추가
                    /* if (sendObject.saveGubn == "INS")
                    {
                        myGrid.setColumnHidden(myGrid.getColIndexById("chk"),true);
                        myGrid.setColumnHidden(myGrid.getColIndexById("cud"),true);
                        myGrid.setColumnHidden(myGrid.getColIndexById("alrmAgntlistId"),true);
                        myGrid.setColumnHidden(myGrid.getColIndexById("cmpyCd"),true);
                        myGrid.setColumnHidden(myGrid.getColIndexById("agntCd"),true);
                    } */
                    myGrid.setColumnHidden(myGrid.getColIndexById("chk"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("cud"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("alrmAgntlistId"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("cmpyCd"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("agntCd"), true);


                    myGrid.setColumnHidden(myGrid.getColIndexById("memo"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("saveUser"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("saveTime"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("updtUser"), true);
                    myGrid.setColumnHidden(myGrid.getColIndexById("updtTime"), true);


                    fnObj.gridOpen.setWidth();
                    fnObj.gridOpen.setWidth();																//그래야 진짜 화면에 보이는 높이가 만들어진다
                    for (var i = 1; i <= 10; i++) {
                        myGrid.addRow(i, "");
                    }
                    //myGrid.addRow(1,"");	//로우 추가
                    //myGrid.deleteRow(1);

                    myGrid.enableEditEvents(true, false, false);	//이걸쓰면 로우의 onRowDblClicked 이벤트 때문에 onEditCell 이벤트가 안되는것을 막을수 있다	//클릭, 더블클릭,F2
                    myGrid.enableBlockSelection(true);
                    myGrid.attachEvent("onKeyPress", fnObj.keyOpen.onKeyPressed);
                    myGrid.attachEvent("onRowDblClicked", function (rId, cInd) {

                    });


                    /* myGrid.attachEvent("onCellChanged", function(rId,cInd){

                        if(myGrid.getColIndexById("userNm") == cInd || myGrid.getColIndexById("alrmTlkHp") == cInd || myGrid.getColIndexById("alrmTlkYn") == cInd)
                        {
                            //20220124 정연호. 알림톡 발송자 명단 고유아이디가 없는데 내용이 바뀌었다면 신규입력
                            if(!myGrid.cellById(rId,myGrid.getColIndexById("alrmAgntlistId")).getValue())
                            {
                                myGrid.cellById(rId,myGrid.getColIndexById("cud")).setValue("C");
                            }
                            else
                            {
                                myGrid.cellById(rId,myGrid.getColIndexById("cud")).setValue("U");
                            }
                        }
                    }); */

                    myGrid.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {
                        if (myGrid.getColIndexById("userNm") == cInd) {
                            if (stage == 1 && this.editor && this.editor.obj) {
                                this.editor.obj.select();
                            }
                            if (stage == 2 && nValue != oValue) {

                                //20220124 정연호. 알림톡 발송자 명단 고유아이디가 없는데 내용이 바뀌었다면 신규입력
                                if (!myGrid.cellById(rId, myGrid.getColIndexById("alrmAgntlistId")).getValue()) {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("C");
                                    myGrid.cellById(rId, myGrid.getColIndexById("alrmTlkYn")).setValue("Y");
                                } else {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("U");
                                }
                                return true;
                            }
                        }

                        if (myGrid.getColIndexById("alrmTlkHp") == cInd) {
                            if (stage == 1 && this.editor && this.editor.obj) {
                                this.editor.obj.select();
                            }

                            if (stage == 2 && isNaN(nValue)) {
                                alert("숫자만 입력해주세요");

                                return false;	//입력한걸 취소시킨다
                            } else if (stage == 2 && !isNaN(nValue) && nValue != oValue) {

                                //20220124 정연호. 알림톡 발송자 명단 고유아이디가 없는데 내용이 바뀌었다면 신규입력
                                if (!myGrid.cellById(rId, myGrid.getColIndexById("alrmAgntlistId")).getValue()) {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("C");
                                    //20220222 정연호 Y 표시 기본으로 하기
                                    myGrid.cellById(rId, myGrid.getColIndexById("alrmTlkYn")).setValue("Y");

                                } else {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("U");
                                }
                                return true;
                            }
                        }

                        if (myGrid.getColIndexById("alrmTlkYn") == cInd) {
                            if (stage == 1 && this.editor && this.editor.obj) {
                                this.editor.obj.select();
                            }

                            if (stage == 2 && (nValue != "Y" && nValue != "N" && nValue != "y" && nValue != "n")) {
                                alert("Y/N 중 하나만 입력해주세요");

                                return false;	//입력한걸 취소시킨다
                            } else if (stage == 2 && (nValue == "Y" || nValue == "N" || nValue == "y" || nValue == "n") && nValue != oValue) {

                                //20220124 정연호. 알림톡 발송자 명단 고유아이디가 없는데 내용이 바뀌었다면 신규입력
                                if (!myGrid.cellById(rId, myGrid.getColIndexById("alrmAgntlistId")).getValue()) {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("C");
                                } else {
                                    myGrid.cellById(rId, myGrid.getColIndexById("cud")).setValue("U");
                                }
                                return true;
                            }
                        }


                    });
                },
                setWidth: function () {
                    searchDiv_height = $("#searchDiv").height();
                    xhdr_height = $(".xhdr").height();
                    myGrid.enableAutoWidth(true, window.innerWidth - 25, 200);
                    myGrid.enableAutoHeight(true, window.innerHeight - searchDiv_height - xhdr_height - 15, 100);	//그리드 자동높이
                },	//END of setWidth
            },		//ENd of gridOpen : {
            searchOpen: {

                agencySrch: function () {		//부모창에서 받은 고유ID 로 정보 찾는것

                    //20220124 정연호 추가. 화주 수정 팝업 열때 알림톡 수신자 목록 열기 때문에 화주사내용 열떄 에러와 알림톡 수신 목록 메세지를 합쳐서 보보여주기위해
                    var errorMsg = "";

                    var dcData = new FormData();

                    dcData.append("tblAgencyMId",	/*[[${sendObject.tblAgencyMId}]]*/);

                    //20220124 정연호 추가. 화주 수정 팝업 열때 알림톡 수신자 목록 열기위해서 화주사 코드, 회사코드가 필요
                    dcData.append("agntCd",	/*[[${sendObject.agntCd}]]*/);
                    dcData.append("cmpyCd",	/*[[${sendObject.cmpyCd}]]*/);


                    $.ajax({
                        url: "/erp901001p1agencySrch",
                        processData: false,
                        contentType: false,
                        data: dcData,
                        type: "POST",
                        datatype: "json",
                        async: false,
                        success: function (res) {
                            if (res) {


                                $("#agntNm").val(res.agntNm);


                                myTalkComboUseYn.selectOption(myComboUseYn.getIndexByValue(res.alrmTlkYn));

                                $("#alrmTlkHp").val(res.alrmTlkHp);

                                $("#bossNm").val(res.bossNm);
                                $("#bizNo").val(res.bizNo);
                                $("#bossTel").val(res.bossTel);
                                $("#officeTel").val(res.officeTel);
                                $("#fax").val(res.fax);
                                $("#findAdd_postcode").val(res.postCd);
                                $("#findAdd_roadAddress").val(res.addr);
                                $("#findAdd_detailAddress").val(res.addrDtl);

                                $("#mngeNm").val(res.mngeNm);
                                $("#mngeTel").val(res.mngeTel);
                                $("#mngeHp").val(res.mngeHp);

                                $("#memo").val(res.memo);
                                myComboUseYn.selectOption(myComboUseYn.getIndexByValue(res.useYn));

                            } else {
                                //alert("화주사내용 조회 수행 결과 없음")
                                errorMsg = errorMsg + "\n화주사내용 조회 수행 결과 없음";
                            }
                        },
                    });


                    //20220124 정연호 추가. 화주 수정 팝업 열때 알림톡 수신자 목록 열기
                    $.ajax({
                        url: "/erp901001p2alrmTlkSrch",
                        processData: false,
                        contentType: false,
                        data: dcData,
                        type: "POST",
                        datatype: "json",
                        async: false,
                        success: function (res) {
                            if (res) {
                                //console.log(res);
                                var columns = myGrid.getColumnCount()
                                for (var i = 0; i < res.length; i++) {
                                    var jsonData = {};
                                    for (var c = 0; c < columns; c++) {
                                        jsonData[myGrid.getColumnId(c)] = res[i][myGrid.getColumnId(c)];
                                    }
                                    //myGrid.addRow(i+1,"");	//로우 추가	//로우는 1부터 시작해야함. 0부터 시작하면 안됨. 그래서 i 에 1을 더함
                                    myGrid.setRowData(i + 1, jsonData);
                                }
                            } else {
                                //alert("화주사내용 조회 수행 결과 없음")
                                errorMsg = errorMsg + "\n화주사 알림톡 수신자 조회 수행 결과 없음";
                            }
                        },
                    });

                    if (errorMsg != "") {
                        alert(errorMsg);
                    }
                },	//END of agencySrch : function() {
                comdSave: function () {
                    myGrid.selectRow(0);
                    if (!fnObj.searchOpen.searchChkVal.chkVal("commSave")) {
                        alert(chkValMsg);
                        return false;
                    }

                    //20220216 정연호 화주 알림톡 수신자 수정
                    //알림톡 발송여부
                    var alrmTalkYnChk = myTalkComboUseYn.getSelectedValue();
                    //알림톡 수신자 수
                    var alrmTalkynCnt = 0;
                    myGrid.forEachRow(function (rId) {
                        if (myGrid.cellById(rId, myGrid.getColIndexById("alrmTlkYn")).getValue() == "Y" || myGrid.cellById(rId, myGrid.getColIndexById("alrmTlkYn")).getValue() == "y") {
                            alrmTalkynCnt++;
                        }
                    });

                    //조건1. 알림톡발송여부가 Y 인데 사람수가 0 일때 저장못함
                    if (alrmTalkYnChk == "Y" && alrmTalkynCnt == 0) {
                        alert("알림톡발송이 사용 이라면 알림톡 수신자를 입력해주세요");
                        return;
                    }
                    //조건2. 알림톡 발송여부가 N 인데 사람수가 있을때 그럼에도 불구하고 진짜 저장할꺼냐고 물어봄
                    else if (alrmTalkYnChk == "N" && alrmTalkynCnt > 0) {
                        if (!confirm("알림톡 수신자 목록이 있지만 알림톡발송이 미사용입니다.\n(알림톡발송이 미사용이므로 알림톡을 수신할 수 없습니다.)\n\n" + (sendObject.saveGubn == "INS" ? "등록" : "수정") + "하시겠습니까?")) {
                            alert("취소하였습니다.");
                            return;
                        }
                    }
                    //조건3. 알림톡 Y & 사람수 > 0 , 알림톡 N & 사람수 0  일 경우 그냥 저장
                    else {
                        if (!confirm((sendObject.saveGubn == "INS" ? "등록" : "수정") + "하시겠습니까?")) {
                            alert("취소하였습니다.");
                            return;
                        }
                    }
                    //저장할 값 폼 형식으로 생성하기
                    var saveData = {};

                    saveData.saveGubn =	/*[[${sendObject.saveGubn}]]*/;
                    saveData.tblAgencyMId =	/*[[${sendObject.tblAgencyMId}]]*/;
                    saveData.cmpyCd = $("#cmpyCd").val();
                    saveData.agntNm = $("#agntNm").val();
                    saveData.alrmTlkYn = myTalkComboUseYn.getSelectedValue();
                    saveData.alrmTlkHp = $("#alrmTlkHp").val();
                    saveData.bizNo = $("#bizNo").val();
                    saveData.postCd = $("#findAdd_postcode").val();
                    saveData.addr = $("#findAdd_roadAddress").val();
                    saveData.addrDtl = $("#findAdd_detailAddress").val();
                    saveData.bossNm = $("#bossNm").val();
                    saveData.bossTel = $("#bossTel").val();
                    saveData.officeTel = $("#officeTel").val();
                    saveData.fax = $("#fax").val();
                    saveData.mngeNm = $("#mngeNm").val();
                    saveData.mngeTel = $("#mngeTel").val();
                    saveData.mngeHp = $("#mngeHp").val();
                    saveData.useYn = myComboUseYn.getSelectedValue();
                    saveData.memo = $("#memo").val();
                    saveData.saveUser =	/*[[${session.tblUserMId}]]*/;
                    saveData.alrmTlkDetail = get_cud_json(myGrid);


                    saveData.agntCd =	/*[[${sendObject.agntCd}]]*/;
                    console.log(saveData)

                    /* for(var pair of saveData.entries()) {
                           console.log(pair[0]+ ' : '+ pair[1]);
                        } */

                    $.ajax({
                        //url: "/erp901001p1ComdSave",	//20220124 정연호 원본
                        url: "/erp901001p2ComdSave",
                        processData: false,
                        //contentType : false,
                        contentType: "application/json",
                        //data: saveData,
                        data: JSON.stringify(saveData),
                        type: "POST",
                        datatype: "json",
                        async: false,
                        success: function (res) {
                            if (res) {
                                if (res.rtnYn == "Y") {
                                    alert("성공 : " + res.rtnMsg);
                                    parent.fnObj.searchOpen.search();
                                    parent.myWins.window(sendObject.windowId).close();
                                } else {
                                    alert("실패 : " + res.rtnMsg);
                                }
                            } else {
                                alert("등록/수정 수행 결과 없음")
                            }
                        },
                    });

                },	//END of comdSave : function() {
                commDupl: function () {		//지점(물류센터)코드 중복확인 하기
                    if (!fnObj.searchOpen.searchChkVal.chkVal("commDupl")) {
                        alert(chkValMsg);
                        return false;
                    }
                    //저장할 값 폼 형식으로 생성하기
                    var duplData = new FormData();

                    duplData.append("cmpyCd",	/*[[${sendObject.cmpyCd}]]*/);
                    duplData.append("dcCd", $("#dcCd").val());

                    $.ajax({
                        url: "/erp901001p1CommDupl",
                        processData: false,
                        contentType: false,
                        data: duplData,
                        type: "POST",
                        datatype: "json",
                        async: false,
                        success: function (res) {
                            if (res) {
                                if (res.rtnYn == "Y") {
                                    alert("성공 : " + res.rtnMsg);
                                } else {
                                    alert("실패 : " + res.rtnMsg);
                                }
                                $("#rtnYn").val(res.rtnYn);
                            } else {
                                alert("지점(물류센터)코드 중복조회 수행 결과 없음")
                            }
                        },
                    });
                },	//END of commDupl : function() {
                prDcDel: function () {
                    $("#prDcCd").val("");
                    $("#prDcNm").val("");
                },	//END of prDcDel : function() {

                searchChkVal: {
                    chkVal: function (chkGubn) {
                        chkValMsg = "";	//메세지 초기화
                        var rtnVal = true;
                        if (chkGubn == "commSave") {
                            if (!$("#cmpyCd").val()) {
                                chkValMsg = chkValMsg + "회사코드가 없습니다\n";
                                rtnVal = false;
                            }
                            if (!$("#agntNm").val()) {
                                chkValMsg = chkValMsg + "화주명이 없습니다\n";
                                rtnVal = false;
                            }
                            /* if(!$("#bossNm").val()){
                                chkValMsg = chkValMsg + "대표자명이 없습니다\n";
                                rtnVal = false;
                            } */
                            /*
                            if(!$("#bossTel").val() && !$("#officeTel").val()){
                                chkValMsg = chkValMsg + "대표자 일반전화,휴대전화 모두 없습니다.\n둘 중 하나는 입력해주세요.\n";
                                rtnVal = false;
                            } */

                            //알림톡이 Y일때만 전화번호 필수


                            //20220216 정연호 알림톡 연락처를 1칸입력에서 그리드 리스트로 입력으로 변경
                            /* if(myTalkComboUseYn.getSelectedValue() == "Y" && !$("#alrmTlkHp").val()){
                                chkValMsg = chkValMsg + "알림톡 발송이 Y라면 알림톡 연락처는 필수 입니다.\n";
                                rtnVal = false;
                            } */


                            /* if(!$("#bizNo").val()){
                                chkValMsg = chkValMsg + "사업자번호가 없습니다\n";
                                rtnVal = false;
                            } */

                            /* if(!$("#findAdd_postcode").val()){
                                chkValMsg = chkValMsg + "우편번호가 없습니다\n";
                                rtnVal = false;
                            }
                            if(!$("#findAdd_roadAddress").val()){
                                chkValMsg = chkValMsg + "주소1이 없습니다\n";
                                rtnVal = false;
                            }
                            if(!$("#findAdd_detailAddress").val()){
                                chkValMsg = chkValMsg + "주소2가 없습니다\n";
                                rtnVal = false;
                            } */
                            /* if(!$("#mngeNm").val()){
                                chkValMsg = chkValMsg + "담당자명이 없습니다\n";
                                rtnVal = false;
                            }
                            */
                            /* if(!$("#mngeTel").val() && !$("#mngeHp").val()){
                                chkValMsg = chkValMsg + "담당자 일반전화,휴대전화 모두 없습니다.\n둘 중 하나는 입력해주세요.\n";
                                rtnVal = false;
                            }  */

                            if (!$("#mngeHp").val()) {
                                chkValMsg = chkValMsg + "담당자 휴대전화가 없습니다.\n";
                                rtnVal = false;
                            }
                        }
                        return rtnVal;
                    },	//END of chkVal : function(){
                },	//END of searchChkVal
            },		//ENd of searchOpen : {
            keyOpen: {
                enterKey: function (enterType) {
                    if (window.event.keyCode == 13) {

                        if (enterType == 'srchName') {
                            $("#srchName").blur();
                            $("#srchCode").blur();
                            $("#srchCode").val("");
                            fnObj.winOpen.commSrch('화주', 'A', 'AGENCY', 'text');
                        }

                    }
                },
                onKeyPressed: function (code, ctrl, shift) {
                    if (code == 67 && ctrl) {
                        myGrid.setCSVDelimiter("\t");
                        myGrid.copyBlockToClipboard()
                    }
                    if (code == 86 && ctrl) {
                        myGrid.pasteBlockFromClipboard()
                    }
                    return true;
                },
            },

        }	//END of fnObj

        $(document).ready(function () {
            console.log(pageUrl());

            //windowOpen 정의
            myWins = new dhtmlXWindows();
            myGrid = new dhtmlXGridObject('grid');	//그리드

            fnObj.comboOpen.comboCmpyCd();
            fnObj.comboOpen.comboTalkUseYn();

            fnObj.comboOpen.comboUseYn();


            sendObject = /*[[${sendObject}]]*/;

            $("#cmpyCd").val(/*[[${sendObject.cmpyCd}]]*/);
            $("#tblAgencyMId").val(/*[[${sendObject.tblAgencyMId}]]*/);

            fnObj.gridOpen.grid()

            window.onresize = function (event) {		//윈도우의 사이즈가 변경했을떄
                fnObj.gridOpen.setWidth();
                fnObj.gridOpen.setWidth();
            };

            //사용자 정보 조회 - 수정일 경우
            console.log("sendObject.saveGubn : " + sendObject.saveGubn);
            if (sendObject.saveGubn == "UPDT") {
                //조회하기
                fnObj.searchOpen.agencySrch();
                $("#commSave").val("수정");
                $("#popUpTitle").html("&nbsp;수정&nbsp;");
            } else if (sendObject.saveGubn == "INS") {
                $("#commSave").val("등록");
                $("#popUpTitle").html("&nbsp;등록&nbsp;");

            }

        });
    </script>
</head>
<body>
<div id="mainDiv">
    <div id="searchDiv">
        <div class="popup-header-container">
            <div class="popup-header-text">
                화주관리
            </div>
            <div class="button-container">
				<span class="item-data">
					<input id="commSave"
                           class="action-button primary" name="commSave" type="button"
                           onclick="fnObj.searchOpen.comdSave()"
                           value="등록">
				</span>
            </div>
        </div>

        <div id="inputDiv0" class="search-container">

            <span class="cell" style="display:none;">
				<span class="item-head">
					회사코드
				</span>
				<span class="item-data">
					<input type="text" id="cmpyCd" name="cmpyCd" disabled/>
				</span>
			</span>

            <div class="search-item">
					<span class="search-label">
						화주명<span class="stress">*</span>
					</span>
                <input id="agntNm" class="search-input" type="text" minlength=4 maxlength=50 name="agntNm"/>
            </div>

            <div class="search-item">
				<span class="search-label">
					알림톡발송<span class="stress">*</span>
				</span>
                <div id="alrmTlkYn" class="search-input"></div>
            </div>

            <div class="search-item">
				<span class="search-label">
					대표자명
				</span>
                <input id="bossNm" class="search-input" type="text" minlength=4 maxlength=50 name="bossNm"/>
            </div>

            <div class="search-item">
				<span class="search-label">
					사업자번호
				</span>
                <input id="bizNo" class="search-input" type="text" minlength=4 maxlength=50 name="bossNm"/>
            </div>

            <div class="search-item">
				<span class="search-label">
					일반전화번호
				</span>
                <input id="bossTel" class="search-input" type="text" minlength=4 maxlength=50 name="bossNm"/>
            </div>

            <div class="search-item">
				<span class="search-label">
					휴대폰 번호
				</span>
                <input id="officeTel" class="search-input" type="text" minlength=4 maxlength=50 name="bossNm"/>
            </div>

            <div class="search-item">
				<span class="search-label">
                    팩스 번호
				</span>
                <input id="fax" class="search-input" type="text" minlength=4 maxlength=50 name="bossNm"/>
            </div>

            <div class="search-item">
                <span class="search-label">우편번호</span>
                <input type="text" class="search-input" id="findAdd_postcode" name="findAdd_postcode" readonly/>
                <i id="srchIcon" class="fa fa-search search-icon" aria-hidden="true"
                   onclick="findAdd_execDaumPostcode();"></i>
            </div>
            <div id="layer"
                 style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
                     style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1"
                     onclick="closeDaumPostcode()" alt="닫기 버튼">
            </div>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>
                // 우편번호 찾기 화면을 넣을 element
                var element_layer = document.getElementById('layer');

                function closeDaumPostcode() {
                    // iframe을 넣은 element를 안보이게 한다.
                    element_layer.style.display = 'none';
                }

                function findAdd_execDaumPostcode() {
                    new daum.Postcode({
                        oncomplete: function (data) {
                            // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                            var addr = ''; // 주소 변수
                            var extraAddr = ''; // 참고항목 변수

                            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                addr = data.roadAddress;
                            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                addr = data.jibunAddress;
                            }

                            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                            if (data.userSelectedType === 'R') {
                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                    extraAddr += data.bname;
                                }
                                // 건물명이 있고, 공동주택일 경우 추가한다.		--original source
                                if (data.buildingName !== '' && data.apartment === 'Y') {
                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }


                                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                if (extraAddr !== '') {
                                    extraAddr = ' (' + extraAddr + ')';
                                }
                                // 조합된 참고항목을 해당 필드에 넣는다.
                                //document.getElementById("findAdd_extraAddress").value = extraAddr;

                            } else {
                                //document.getElementById("findAdd_extraAddress").value = '';
                            }

                            // 우편번호와 주소 정보를 해당 필드에 넣는다.
                            document.getElementById('findAdd_postcode').value = data.zonecode;

                            //20220225 정연호 수정. 지번 도로명 둘다쓰니깐 addr 이 들어가게 수정해줌
                            //document.getElementById("findAdd_roadAddress").value = data.roadAddress  + ' ' + extraAddr;
                            document.getElementById("findAdd_roadAddress").value = addr + ' ' + extraAddr;

                            //document.getElementById("findAdd_jibunAddress").value = data.jibunAddress;
                            // 커서를 상세주소 필드로 이동한다.
                            document.getElementById("findAdd_detailAddress").focus();

                            // iframe을 넣은 element를 안보이게 한다.
                            // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                            element_layer.style.display = 'none';
                        },
                        width: '100%',
                        height: '100%',
                        maxSuggestItems: 5
                    }).embed(element_layer);

                    // iframe을 넣은 element를 보이게 한다.
                    element_layer.style.display = 'block';

                    // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
                    initLayerPosition();
                }

                // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
                // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
                // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
                function initLayerPosition() {
                    var width = 400; //우편번호서비스가 들어갈 element의 width
                    var height = 500; //우편번호서비스가 들어갈 element의 height
                    var borderWidth = 1; //샘플에서 사용하는 border의 두께

                    // 위에서 선언한 값들을 실제 element에 넣는다.
                    element_layer.style.width = width + 'px';
                    element_layer.style.height = height + 'px';
                    element_layer.style.border = borderWidth + 'px solid';
                    // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
                    element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
                    element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
                }
            </script>

            <div class="search-item">
                <span class="search-label">주소</span>
                <input id="findAdd_roadAddress" class="search-input" type="text" name="findAdd_roadAddress" readonly/>
            </div>

            <div class="search-item">
                <span class="search-label">상세 주소</span>
                <input id="findAdd_detailAddress" class="search-input" type="text" name="findAdd_detailAddress"
                       readonly/>
            </div>

            <div class="search-item">
                <span class="search-label">담당자명</span>
                <input id="mngeNm" class="search-input" type="text" maxlength=50
                       name="mngeNm"/>
            </div>

            <div class="search-item">
                <span class="search-label">담당자 일반전화</span>
                <input id="mngeTel" class="search-input" type="text" minlength=14 maxlength=14
                       name="mngeTel"
                       oninput="this.value = this.value.replace(/[^0-9-]/g, '').replace(/(\..*)\./g, '$1');"/>
            </div>

            <div class="search-item">
                <span class="search-label">담당자 휴대폰</span>
                <input id="mngeHp" class="search-input" type="text" minlength=14 maxlength=14
                       name="mngeHp"
                       oninput="this.value = this.value.replace(/[^0-9-]/g, '').replace(/(\..*)\./g, '$1');"/>
            </div>

            <div class="search-item">
                <span class="search-label">메모</span>
                <input id="memo" class="search-input" name="memo"/>
            </div>

            <div class="search-item">
                <span class="search-label">사용여부</span>
                <input id="useYn" name="useYn" class="search-input"/>
            </div>

            <div class="search-item">
                <span class="search-label">고유 ID</span>
                <input id="tblAgencyMId" name="tblAgencyMId" class="search-input"/>
            </div>
        </div>
    </div>
    <div id="gridDiv">
        <!-- 20220216 정연호 알림톡연락처를 이곳으로 옮겨옴 -->
        <div class="popup-header-text sub">
            <span id="alrmTlkHpTitle">알림톡 연락처<span class="stress">*</span></span>
        </div>
        <div id="grid"></div>
    </div>
</div>
</body>
</html>
