<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sonictms.alsys.hyapp.stock.mapper.HyappStockMoveMapper">

    <select id="selectStockListByLocation" resultType="map">
        SELECT
            A.MTRL_CD as mtrlCd,
            C.MTRL_NM as mtrlNm,
            A.STOCK_QTY as stockQty,
            A.AGNT_CD as agntCd,
            D.AGNT_NM AS agntNm
        FROM TBL_STOCK A, TBL_WH_LOC_M B, TBL_MTRL_M C, TBL_AGENCY_M D
        WHERE A.LOC_ID = B.LOC_ID
          AND A.MTRL_CD = C.MTRL_CD
          AND A.AGNT_CD = D.AGNT_CD
          AND A.CMPY_CD = #{cmpyCd}
          AND B.LOC_CD = #{locationCd}
          AND A.STOCK_QTY > 0
    </select>

    <update id="updateDecreaseStock">
        UPDATE TBL_STOCK
        SET STOCK_QTY = STOCK_QTY - #{moveQty},
            UPDT_TIME = GETDATE(),
            UPDT_USER = #{userId}
        WHERE CMPY_CD = #{cmpyCd}
          AND LOC_ID = ( SELECT LOC_ID FROM　TBL_WH_LOC_M WHERE LOC_CD = #{fromLocationCd} )
          AND MTRL_CD = #{mtrlCd}
          AND STOCK_QTY >= #{moveQty}
    </update>

    <insert id="upsertIncreaseStock">
        MERGE INTO TBL_STOCK AS target
            USING (SELECT #{cmpyCd} as cmpyCd, (SELECT LOC_ID FROM　TBL_WH_LOC_M WHERE LOC_CD = #{toLocationCd}) as loc, #{mtrlCd} as mtrl) AS source
            ON (target.CMPY_CD = source.cmpyCd AND target.LOC_ID = source.loc AND target.MTRL_CD = source.mtrl)
            WHEN MATCHED THEN
                UPDATE SET
                    STOCK_QTY = target.STOCK_QTY + #{moveQty},
                    UPDT_TIME = GETDATE(),
                    UPDT_USER = #{userId}
            WHEN NOT MATCHED THEN
                INSERT (CMPY_CD, AGNT_CD, MTRL_CD, ZONE_ID, LOC_ID, STOCK_QTY, UPDT_TIME, UPDT_USER)
                    VALUES (#{cmpyCd}, #{agntCd}, #{mtrlCd}, (SELECT LOC_ID FROM　TBL_WH_LOC_M WHERE LOC_CD = #{toLocationCd}), #{moveQty}, GETDATE(), #{userId});
    </insert>

    <insert id="insertMoveLog">
        INSERT INTO TBL_STOCK_MOVE_LOG (
            CMPY_CD, AGNT_CD, MTRL_CD,
            FROM_LOC_ID, TO_LOC_ID,
            MOVE_QTY, MOVE_TYPE,
            CREATE_TIME, CREATE_USER
        ) VALUES (
                     #{cmpyCd}, #{agntCd}, #{mtrlCd},
                     (SELECT LOC_ID FROM　TBL_WH_LOC_M WHERE LOC_CD = #{fromLocationCd}), (SELECT LOC_ID FROM　TBL_WH_LOC_M WHERE LOC_CD = #{toLocationCd}),
                     #{moveQty}, ISNULL(#{moveType}, 'NORMAL'),
                     GETDATE(), #{userId}
                 )
    </insert>

</mapper>