<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.mobile.mDeliveryCancel.mapper.MobileDeliveryCancelMapper">

    

    <select id="mDeliveryCancelSave"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.mobile.mDeliveryCancel.entity.MobileDeliveryCancelVO"
    															resultType		="com.sonictms.alsys.mobile.mDeliveryCancel.entity.MobileDeliveryCancelVO">
        {
	      CALL ${schema}..USP_MOBILE_DELIVERY_CANCEL_SAVE (
	      	#{instMobileMId		,mode=IN	,	jdbcType=VARCHAR},
			#{tblSoMId			,mode=IN	,	jdbcType=VARCHAR},
			#{dlvyCnclResn		,mode=IN	,	jdbcType=VARCHAR},
			#{cnclMemo			,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser			,mode=IN	,	jdbcType=VARCHAR}
	      )
      }
    </select>
   
</mapper>
