<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allianceLogistics.alsys.erp.erp901004.mapper.Erp901004Mapper">

	<!-- 그리드 목록 조회하기 -->
    <select id="erp901004List"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO" 	
    															resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_LISTBYALL (
	      	#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{agntCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{prntMtrlList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{chldMtrlList	,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>

	
  
 	<!-- 팝업 왼쪽 하위 품목 찾기 -->
    <select id="erp901004p1ComdSrch"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO" 	
    																resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_LISTBYALL_C  (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{agntCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{chldMtrlList	,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    
    <!-- 팝업  등록/ 수정 하기 -->
    <select id="erp901004p1ComdSave"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO" 	
    															resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_SAVE (
	      	#{saveGubn		,mode=IN	,	jdbcType=VARCHAR},
	      	#{tblBomMId		,mode=IN	,	jdbcType=VARCHAR},
      		#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
   			#{agntCd		,mode=IN	,	jdbcType=VARCHAR},
			#{mtrlCd		,mode=IN	,	jdbcType=VARCHAR},
			#{seq			,mode=IN	,	jdbcType=VARCHAR},
	      	#{chldMtrlCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{qty			,mode=IN	,	jdbcType=VARCHAR},
	      	#{unit			,mode=IN	,	jdbcType=VARCHAR},
	      	#{useYn			,mode=IN	,	jdbcType=VARCHAR},	
			#{saveUser		,mode=IN	,	jdbcType=VARCHAR}	 	      	    		      		      		      		      
	      )      
      }
    </select>
    
    
    
    
    
  
 	<!-- 고유 ID 로 정보 찾기 -->
    <select id="erp901004prntMtrlList"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO" 	
    															resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_LOAD  (
	      	#{mtrlCd		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
       
  	<!-- 로우삭제 
    <select id="erp901004p1DelTblBomId"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO" 	
    															resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004VO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_DELE  (
	      	#{tblBomMId		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>	
    -->
    
     <!-- 상품구성품관리(bom) 엑셀업로드 -->
    <select id="erp901004p2ExcelUploadJson"  statementType="CALLABLE"		parameterType	="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004ExcelVO" 	
    															resultType		="com.allianceLogistics.alsys.erp.erp901004.entity.Erp901004ExcelVO">
        {
	      CALL sonictmsdev_mssql..USP_BOM_EXCL_SAVE (
	      	#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},	
	     	#{agntCd	,mode=IN	,	jdbcType=VARCHAR},	
			#{mtrlCd	,mode=IN	,	jdbcType=VARCHAR},
			#{seq		,mode=IN	,	jdbcType=VARCHAR},
			#{cmtrlCd	,mode=IN	,	jdbcType=VARCHAR},
			#{qty		,mode=IN	,	jdbcType=VARCHAR},
			#{unit		,mode=IN	,	jdbcType=VARCHAR},
			#{useYn		,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser	,mode=IN	,	jdbcType=VARCHAR}    		      		      
	      )
      }
    </select>     
</mapper>
