<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.erp.erp203001.mapper.Erp203001Mapper">

	<!-- 그리드 목록 조회하기 -->
    <select id="erp203001List"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    															resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_PLAN_INS_LISTBYALL (
			#{cmpyCd			,mode=IN	,	jdbcType=VARCHAR},	
			#{fromDt			,mode=IN	,	jdbcType=VARCHAR},
			#{toDt				,mode=IN	,	jdbcType=VARCHAR},
			#{instCtgrList		,mode=IN	,	jdbcType=VARCHAR},
			#{instTypeList		,mode=IN	,	jdbcType=VARCHAR},
			#{instSeatTypeList  ,mode=IN	,	jdbcType=VARCHAR},
			#{instZoneTypeList	,mode=IN	,	jdbcType=VARCHAR},
			#{instZoneCdList	,mode=IN	,	jdbcType=VARCHAR},
			#{dcCd				,mode=IN	,	jdbcType=VARCHAR},
			#{instPlanYn		,mode=IN	,	jdbcType=VARCHAR},
			#{paltNoxx			,mode=IN	,	jdbcType=VARCHAR},
			#{instEr			,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    


	<!-- 리스트조회2 - 아래쪽 상세 그리드 조회 -->
    <select id="erp203001List2"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    															resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_PLAN_INS_LOAD (
			#{tblSoMId			,mode=IN	,	jdbcType=VARCHAR}
		
	      )      
      }
    </select>
    
    
    
        
    <!-- 그리드에서 시공기사 찾기,조회하기 -->
    <select id="erp203001InstErSrch"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    																resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_USER_SRCH (
			#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},	
			#{dcCd		,mode=IN	,	jdbcType=VARCHAR},
			#{userNm	,mode=IN	,	jdbcType=VARCHAR},
			#{useYn		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
         
    <!-- 그리드에서 시공기사 찾기,조회하기 2 -->
    <select id="erp203001InstErSrch2"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    																resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_PLAN_POPUP_INSTER_LISTBYALL (
			#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},	
			#{instDt	,mode=IN	,	jdbcType=VARCHAR},
			#{dcCd		,mode=IN	,	jdbcType=VARCHAR},
			#{instEr	,mode=IN	,	jdbcType=VARCHAR},
			#{useYn		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
  	<!-- 그리드에서 시공기사 현황 3 -->
    <select id="erp203001InstErSrch3"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    																resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_PLAN_POPUP_INSTER_STATUS (
			#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},	
			#{instDt	,mode=IN	,	jdbcType=VARCHAR},
			#{dcCd		,mode=IN	,	jdbcType=VARCHAR}
			
	      )      
      }
    </select>   
    <!-- 그리드에서 순번, 팔렛트, 시공기사 입력한것 저장 또는 수정 하기 -->
    <select id="erp203001Save"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    															resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_PLAN_SAVE  (
	      	#{saveGubn		,mode=IN	,	jdbcType=VARCHAR},
			#{instPlanId	,mode=IN	,	jdbcType=VARCHAR},
			#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
			#{tblSoMId		,mode=IN	,	jdbcType=VARCHAR},
			#{tblSoPId		,mode=IN	,	jdbcType=VARCHAR},
			#{tblSoDId		,mode=IN	,	jdbcType=VARCHAR},
			#{rqstDt		,mode=IN	,	jdbcType=VARCHAR},
			#{instDt		,mode=IN	,	jdbcType=VARCHAR},
			#{soNo			,mode=IN	,	jdbcType=VARCHAR},
			#{instCtgr		,mode=IN	,	jdbcType=VARCHAR},
			#{instType		,mode=IN	,	jdbcType=VARCHAR},

			#{instSeatType	,mode=IN	,	jdbcType=VARCHAR},
			#{instStatCd	,mode=IN	,	jdbcType=VARCHAR},
			#{paltNoxx		,mode=IN	,	jdbcType=VARCHAR},
			#{seq			,mode=IN	,	jdbcType=VARCHAR},
			#{cbm			,mode=IN	,	jdbcType=VARCHAR},
			#{instCost		,mode=IN	,	jdbcType=VARCHAR},
			#{dlvyCost		,mode=IN	,	jdbcType=VARCHAR},
			#{instCmpy		,mode=IN	,	jdbcType=VARCHAR},
			#{instEr		,mode=IN	,	jdbcType=VARCHAR},
			#{instPlanDt	,mode=IN	,	jdbcType=VARCHAR},
			
			<!--  20211024 정연호 추가. 파라미터 2개 추가 -->
			#{tblUserMId	,mode=IN	,	jdbcType=VARCHAR},
			#{agntCd		,mode=IN	,	jdbcType=VARCHAR},			
			<!--  20211024 정연호 추가. 파라미터 2개 추가. 끝 -->
			
			#{useYn			,mode=IN	,	jdbcType=VARCHAR},
			#{dcCd			,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    

	
    
    <!-- 권역매핑삭제하기 -->
    <select id="erp203001Delete"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
    															resultType		="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
        {
	      CALL sonictmsdev_mssql..USP_DCPOST_DELETE (
	      	#{tblLgstDcpostMId	,mode=IN	,	jdbcType=VARCHAR}
	      	
	      )      
      }
    </select>
    
    
   
    	<!-- 체크한것들 삭제(일괄삭제) -->
	<select id="erp203001DelChk" statementType="CALLABLE"
		parameterType="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO"
		resultType="com.sonictms.alsys.erp.erp203001.entity.Erp203001VO">
		{
		CALL sonictmsdev_mssql..USP_INST_PLAN_SO_DEL (
		#{tblSoMId ,mode=IN , jdbcType=VARCHAR},
		#{saveUser ,mode=IN , jdbcType=VARCHAR}
		)
		}

	</select>
         
</mapper>
