<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.erp.erp105001.mapper.Erp105001Mapper">

    <!-- 재고 현황 목록 조회 (최종 로직) -->
    <select id="erp105001List"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO"
            resultType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO">
        WITH
        -- 1. 센터별 출고대기 (경남, 대구, 전남, 제주)
        PeriodOutboundWait AS (
        SELECT
        SP.PROD_CD, SM.AGNT_CD,
        SUM(CASE WHEN SM.DC_CD = '300' THEN SP.QTY ELSE 0 END) as gyeongnamQty,
        SUM(CASE WHEN SM.DC_CD = '8000' THEN SP.QTY ELSE 0 END) as gyeongbukQty,
        SUM(CASE WHEN SM.DC_CD = '12' THEN SP.QTY ELSE 0 END) as jeonnamQty,
        SUM(CASE WHEN SM.DC_CD = '6000' THEN SP.QTY ELSE 0 END) as jejuQty
        FROM DBO.TBL_SO_M SM WITH (NOLOCK)
        INNER JOIN DBO.TBL_SO_P SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
        LEFT OUTER JOIN DBO.TBL_MTRL_M AS PM WITH (NOLOCK) ON SP.PROD_CD = PM.MTRL_CD AND SM.AGNT_CD = PM.AGNT_CD
        WHERE <![CDATA[
                SM.SO_STAT_CD IN ('2000', '2500', '3000', '3500', '4000', '5000')
                AND SP.USE_YN = 'Y'
                AND SM.SO_TYPE IN ('1000', '3100', '4000', '5000', '6000', '9901', '9902', '9905', '9908')
                AND ISNULL(PM.MTO_YN, 'N') = 'N'
                AND SP.OUTBOUND_DT IS NULL
                AND CONVERT(VARCHAR(8), SM.GI_LIFT_DT, 112) >= '20250816'
            ]]>
        GROUP BY SP.PROD_CD, SM.AGNT_CD
        ),
        -- 2. 용인센터 재입고대기
        ReentryWaitData AS (
        SELECT
        SP.PROD_CD, SM.AGNT_CD, SUM(SP.QTY) as qty
        FROM DBO.TBL_SO_M SM WITH (NOLOCK)
        INNER JOIN DBO.TBL_SO_P SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
        WHERE SP.USE_YN = 'Y' AND ISNULL(SP.RESTOCK_INBOUNDED, 'N') = 'N'
        AND SM.SAVE_TIME >= '20250816'
        AND ((SM.SO_TYPE = '9904' AND SM.SO_STAT_CD NOT IN ('0000', '1900')) OR SM.SO_STAT_CD = '8050')
        GROUP BY SP.PROD_CD, SM.AGNT_CD
        ),
        -- 3. 가용재고 차감분 (1): 기간 내 미확정
        UnconfirmedForAvailable AS (
        SELECT
        SP.PROD_CD, SM.AGNT_CD, SUM(SP.QTY) as qty
        FROM DBO.TBL_SO_M SM WITH (NOLOCK)
        INNER JOIN DBO.TBL_SO_P SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
        WHERE SM.SO_STAT_CD IN ('1000', '1200', '1900')
        AND SP.USE_YN = 'Y'
        AND SM.SAVE_TIME >= '20250816'
        GROUP BY SP.PROD_CD, SM.AGNT_CD
        ),
        -- 4. 가용재고 차감분 (2): 미래 포함 출고대기
        FutureOutboundForAvailable AS (
        SELECT
        SP.PROD_CD, SM.AGNT_CD, SUM(SP.QTY) as qty
        FROM DBO.TBL_SO_M SM WITH (NOLOCK)
        INNER JOIN DBO.TBL_SO_P SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
        LEFT OUTER JOIN DBO.TBL_MTRL_M AS PM WITH (NOLOCK) ON SP.PROD_CD = PM.MTRL_CD AND SM.AGNT_CD = PM.AGNT_CD
        WHERE <![CDATA[
                SM.SO_STAT_CD IN ('2000', '2500', '3000', '3500', '4000')
                AND SP.USE_YN = 'Y'
                AND SM.SO_TYPE IN ('1000', '3100', '4000', '5000', '6000', '9901', '9902', '9905', '9908')
                AND ISNULL(PM.MTO_YN, 'N') = 'N'
                AND SP.OUTBOUND_DT IS NULL
                AND CONVERT(VARCHAR(8), SM.DLVY_CNFM_DT, 112) >= '20250816'
            ]]>
        GROUP BY SP.PROD_CD, SM.AGNT_CD
        )
        SELECT
        MM.CMPY_CD as cmpyCd,
        MM.AGNT_CD as agntCd,
        (SELECT AGNT_NM FROM TBL_AGENCY_M WHERE AGNT_CD = MM.AGNT_CD AND CMPY_CD = MM.CMPY_CD) as agntNm,
        MM.MTRL_CD as productCd,
        MM.MTRL_NM as productNm,
        -- 전체 재고 = 용인센터 실물 + 다른 센터 출고대기
        ISNULL(MM.YONGIN_CURRENT_QUANTITY, 0) + (ISNULL(POW.gyeongnamQty, 0) + ISNULL(POW.gyeongbukQty, 0) +
        ISNULL(POW.jeonnamQty, 0) + ISNULL(POW.jejuQty, 0)) as totalQty,
        -- 용인센터 재입고대기
        ISNULL(RWD.qty, 0) as yonginReentryQty,
        -- 용인센터 (실물 재고만)
        ISNULL(MM.YONGIN_CURRENT_QUANTITY, 0) as yonginQty,
        -- 센터별 출고대기
        ISNULL(POW.gyeongnamQty, 0) as gyeongnamQty,
        ISNULL(POW.gyeongbukQty, 0) as gyeongbukQty,
        ISNULL(POW.jeonnamQty, 0) as jeonnamQty,
        ISNULL(POW.jejuQty, 0) as jejuQty,
        -- 가용재고 (전체재고 - 미확정 - 미래 출고대기)
        (ISNULL(MM.YONGIN_CURRENT_QUANTITY, 0) + (ISNULL(POW.gyeongnamQty, 0) + ISNULL(POW.gyeongbukQty, 0) +
        ISNULL(POW.jeonnamQty, 0) + ISNULL(POW.jejuQty, 0))) - ISNULL(UFA.qty, 0) - ISNULL(FOFA.qty, 0) as availableQty
        FROM TBL_MTRL_M MM
        LEFT JOIN PeriodOutboundWait POW ON MM.AGNT_CD = POW.AGNT_CD AND MM.MTRL_CD = POW.PROD_CD
        LEFT JOIN ReentryWaitData RWD ON MM.AGNT_CD = RWD.AGNT_CD AND MM.MTRL_CD = RWD.PROD_CD
        LEFT JOIN UnconfirmedForAvailable UFA ON MM.AGNT_CD = UFA.AGNT_CD AND MM.MTRL_CD = UFA.PROD_CD
        LEFT JOIN FutureOutboundForAvailable FOFA ON MM.AGNT_CD = FOFA.AGNT_CD AND MM.MTRL_CD = FOFA.PROD_CD
        WHERE 1=1
        AND MM.MTO_YN = 'N'
        AND ISNULL(MM.YONGIN_CURRENT_QUANTITY, 0) + (ISNULL(POW.gyeongnamQty, 0) + ISNULL(POW.gyeongbukQty, 0) +
        ISNULL(POW.jeonnamQty, 0) + ISNULL(POW.jejuQty, 0)) > 0
        <if test="cmpyCd != null and cmpyCd != ''">
            AND MM.CMPY_CD = #{cmpyCd}
        </if>
        <if test="agntCd != null and agntCd != ''">
            AND MM.AGNT_CD = #{agntCd}
        </if>
        <if test="productCd != null and productCd != ''">
            AND MM.MTRL_CD LIKE '%' + #{productCd} + '%'
        </if>
        <if test="productNm != null and productNm != ''">
            AND MM.MTRL_NM LIKE '%' + #{productNm} + '%'
        </if>
        ORDER BY MM.MTRL_CD
    </select>

    <!-- 재고 조정 (용인센터 실물 YONGIN_CURRENT_QUANTITY + CURRENT_QUANTITY 동기화) -->
    <update id="adjustInventory"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO">
        UPDATE MM
        SET MM.YONGIN_CURRENT_QUANTITY = #{afterQty},
            MM.CURRENT_QUANTITY        = #{afterQty} + ISNULL((
                SELECT SUM(SP.QTY)
                FROM TBL_SO_M SM WITH (NOLOCK)
                INNER JOIN TBL_SO_P SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
                LEFT OUTER JOIN TBL_MTRL_M AS PM WITH (NOLOCK) ON SP.PROD_CD = PM.MTRL_CD AND SM.AGNT_CD = PM.AGNT_CD
                WHERE SM.AGNT_CD = MM.AGNT_CD AND SP.PROD_CD = MM.MTRL_CD
                AND SM.DC_CD IN ('300', '8000', '12', '6000')
                AND SM.SO_STAT_CD IN ('2000', '2500', '3000', '3500', '4000', '5000')
                AND SP.USE_YN = 'Y' AND SM.SO_TYPE IN ('1000', '3100', '4000', '5000', '6000', '9901', '9902', '9905', '9908')
                AND ISNULL(PM.MTO_YN, 'N') = 'N' AND SP.OUTBOUND_DT IS NULL
                AND CONVERT(VARCHAR(8), SM.GI_LIFT_DT, 112) >= '20250816'
                ), 0),
            MM.UPDT_TIME               = GETDATE(),
            MM.UPDT_USER               = ISNULL(#{saveUser}, 'SYSTEM')
            FROM TBL_MTRL_M MM
        WHERE MM.CMPY_CD = #{cmpyCd}
          AND MM.AGNT_CD = #{agntCd}
          AND MM.MTRL_CD = #{productCd}
          AND MM.MTO_YN = 'N'
    </update>

    <!-- 재고 조정 이력 기록 -->
    <insert id="insertAdjustmentHistory"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO">
        INSERT INTO TBL_INV_ADJUSTMENT (CMPY_CD, AGNT_CD, AGNT_NM, TBL_MTRL_M_ID, MTRL_CD, MTRL_NM,
                                        ADJUSTMENT_TYPE, BEFORE_QTY, ADJUSTMENT_QTY, AFTER_QTY,
                                        ADJUSTMENT_REASON, ADJUSTMENT_DATE,
                                        SAVE_TIME, SAVE_USER, UPDT_TIME, UPDT_USER, DELETED_YN)
        VALUES (#{cmpyCd}, #{agntCd}, #{agntNm},
                (SELECT TBL_MTRL_M_ID
                 FROM TBL_MTRL_M
                 WHERE CMPY_CD = #{cmpyCd}
                   AND AGNT_CD = #{agntCd}
                   AND MTRL_CD = #{productCd}
                   AND MTO_YN = 'N'),
                #{productCd}, #{productNm},
                #{adjustmentType}, #{currentQty}, #{adjustmentQty}, #{afterQty},
                #{adjustmentReason}, #{adjustmentDate},
                GETDATE(), #{saveUser}, GETDATE(), #{saveUser}, 'N')
    </insert>

    <!-- 출고 대기 주문 조회 (모달용 - 가용재고 계산과 동일한 로직) -->
    <select id="selectOutboundWaitListForModal"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO"
            resultType="com.sonictms.alsys.erp.erp105008.entity.Erp105008VO">
        SELECT
        SP.TBL_SO_P_ID as tblSoPId,
        SM.TBL_SO_M_ID as tblSoMId,
        SM.CMPY_CD as cmpyCd,
        SM.AGNT_CD as agntCd,
        AM.AGNT_NM as agntNm,
        SM.SO_TYPE as soType,
        DBO.F_COL_NM(SM.CMPY_CD, 'COMM', 'SO_ORDR_TYPE', SM.SO_TYPE) as soTypeNm,
        SM.SO_STAT_CD as soStatCd,
        DBO.F_COL_NM(SM.CMPY_CD, 'COMM', 'SO_STAT_CD', SM.SO_STAT_CD) as soStatNm,
        DM.DC_NM as dcNm,
        SM.DLVY_CNFM_DT as dlvyCnfmDt,
        SM.GI_LIFT_DT as giLiftDt,
        CONVERT(VARCHAR(10), IM.UPDT_TIME, 112) as liftCmplDt,
        SM.SO_NO as soNo,
        SM.REF_SO_NO as refSoNo,
        SM.ACPT_ER as acptEr,
        IM.PALT_NOXX as paltNoxx,
        UM.USER_NM as instEr,
        DBO.F_COL_NM(SM.CMPY_CD, 'COMM', 'DLVY_STAT_CD', IM.DLVY_STAT_CD) as dlvyStatNm,
        SP.PROD_CD as cprodCd,
        SP.PROD_NM as cprodNm,
        SP.QTY as cqty,
        SP.COURIER_CD as courierCd,
        SP.COURIER_NM as courierNm,
        SP.WAYBILL_NO as waybillNo,
        SP.OUTBOUND_DT as outboundDt,
        SP.OUTBOUND_USER as outboundUser,
        PM.MTO_YN as mtoYn,
        SP.PROD_CD as mtrlCd
        FROM TBL_SO_M AS SM WITH (NOLOCK)
        INNER JOIN TBL_SO_P AS SP WITH (NOLOCK) ON SM.TBL_SO_M_ID = SP.TBL_SO_M_ID
        LEFT OUTER JOIN TBL_AGENCY_M AS AM WITH (NOLOCK) ON SM.CMPY_CD = AM.CMPY_CD AND SM.AGNT_CD = AM.AGNT_CD
        LEFT OUTER JOIN TBL_LGST_DC_M AS DM WITH (NOLOCK) ON SM.DC_CD = DM.DC_CD
        LEFT OUTER JOIN TBL_INST_MOBILE_M AS IM WITH (NOLOCK) ON SM.TBL_SO_M_ID = IM.TBL_SO_M_ID
        LEFT OUTER JOIN TBL_USER_M AS UM WITH (NOLOCK) ON IM.EXEC_USER_M_ID = UM.TBL_USER_M_ID
        LEFT OUTER JOIN TBL_MTRL_M AS PM WITH (NOLOCK) ON SP.PROD_CD = PM.MTRL_CD AND SM.AGNT_CD = PM.AGNT_CD
        WHERE 1=1
        -- 가용재고 계산과 동일한 조건 (FutureOutboundForAvailable)
        AND SM.SO_STAT_CD IN ('2000', '2500', '3000', '3500', '4000', '5000')
        AND SP.USE_YN = 'Y'
        AND SM.SO_TYPE IN ('1000', '3100', '4000', '5000', '6000', '9901', '9902', '9905', '9908')
        AND ISNULL(PM.MTO_YN, 'N') = 'N'
        AND SP.OUTBOUND_DT IS NULL
        AND CONVERT(VARCHAR(8), SM.DLVY_CNFM_DT, 112) >= '20250816'
        <if test="cmpyCd != null and cmpyCd != ''">
            AND SM.CMPY_CD = #{cmpyCd}
        </if>
        <if test="agntCd != null and agntCd != ''">
            AND SM.AGNT_CD = #{agntCd}
        </if>
        <if test="productCd != null and productCd != ''">
            AND SP.PROD_CD = #{productCd}
        </if>
        ORDER BY SM.DLVY_CNFM_DT, SM.SO_NO
    </select>

    <!-- 재고 변동 이력 조회 -->
    <select id="selectAdjustmentHistory"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO"
            resultType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO">
        SELECT
            ia.TBL_INV_ADJUSTMENT_ID as tblInvAdjustmentId,
            ia.CMPY_CD as cmpyCd,
            ia.AGNT_CD as agntCd,
            ia.AGNT_NM as agntNm,
            ia.TBL_MTRL_M_ID as tblMtrlMId,
            ia.MTRL_CD as productCd,
            ia.MTRL_NM as productNm,
            ia.ADJUSTMENT_TYPE as adjustmentType,
            ia.BEFORE_QTY as beforeQty,
            ia.ADJUSTMENT_QTY as adjustmentQty,
            ia.AFTER_QTY as afterQty,
            ia.ADJUSTMENT_REASON as adjustmentReason,
            ia.ADJUSTMENT_DATE as adjustmentDate,
            ia.SAVE_TIME as saveTime,
            ia.SAVE_USER as saveUser,
            ia.UPDT_TIME as updtTime,
            ia.UPDT_USER as updtUser,
            ia.DELETED_YN as deletedYn
        FROM TBL_INV_ADJUSTMENT ia
        WHERE (ia.DELETED_YN IS NULL OR ia.DELETED_YN = 'N')
          AND ia.CMPY_CD = #{cmpyCd}
          AND ia.AGNT_CD = #{agntCd}
          AND ia.MTRL_CD = #{productCd}
        ORDER BY ia.ADJUSTMENT_DATE DESC, ia.SAVE_TIME DESC
    </select>

    <select id="selectLocationStock"
            parameterType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO"
            resultType="com.sonictms.alsys.erp.erp105001.entity.Erp105001VO">
        SELECT
            Z.ZONE_NM                                   AS zoneNm,
            L.LOC_NM                                    AS locNm,
            S.LOT_NO                                    AS lotNo,
            S.STOCK_QTY                                 AS stockQty,
            (S.STOCK_QTY - S.ALLOCATED_QTY)             AS availQty,
            CONVERT(VARCHAR(10), S.EXPIRE_DATE, 120)    AS expireDate,
            S.PLT_SPEC                                  AS pltSpec
        FROM TBL_STOCK S
                 INNER JOIN TBL_WH_ZONE_M Z
                            ON S.ZONE_ID = Z.ZONE_ID
                                AND S.CMPY_CD = Z.CMPY_CD
                 INNER JOIN TBL_WH_LOC_M L
                            ON S.LOC_ID = L.LOC_ID
                                AND S.CMPY_CD = L.CMPY_CD
        WHERE S.CMPY_CD = #{cmpyCd}
          AND S.AGNT_CD = #{agntCd}
          AND S.MTRL_CD = #{productCd}
          AND S.STOCK_QTY > 0
          AND Z.DELETED_YN = 'N'
          AND L.DELETED_YN = 'N'
        ORDER BY S.WH_CD, Z.ZONE_CD, L.LOC_CD, S.EXPIRE_DATE
    </select>
</mapper>
