<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.erp.erp202001.mapper.Erp202001Mapper">

	<!-- 그리드 목록 조회하기 -->
    <select id="erp202001List"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO"
    															resultType		="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_CAPA_LISTBYALL (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{dtType		,mode=IN	,	jdbcType=VARCHAR},
	      	#{fromDt		,mode=IN	,	jdbcType=VARCHAR},
	      	#{toDt			,mode=IN	,	jdbcType=VARCHAR},
	      	#{dtList		,mode=IN	,	jdbcType=VARCHAR},
	      	#{instTypeList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instCtgrList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{seatTypeList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instZoneType	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instZoneList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{weekList		,mode=IN	,	jdbcType=VARCHAR},
	       	#{useYn			,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>

	<!-- 체크수정 하기  -->
    <select id="erp202001Save"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO"
    															resultType		="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_CAPA_SAVE (
	      	#{saveGubn	,mode=IN	,	jdbcType=VARCHAR},
			#{capaId	,mode=IN	,	jdbcType=VARCHAR},
			#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},
			#{capaCtgr	,mode=IN	,	jdbcType=VARCHAR},
			#{capaType	,mode=IN	,	jdbcType=VARCHAR},
			#{seatType	,mode=IN	,	jdbcType=VARCHAR},
			#{zoneType	,mode=IN	,	jdbcType=VARCHAR},
			#{zoneCd	,mode=IN	,	jdbcType=VARCHAR},
			#{instDt	,mode=IN	,	jdbcType=VARCHAR},
			#{weekCd	,mode=IN	,	jdbcType=VARCHAR},
			#{capaPerDay,mode=IN	,	jdbcType=VARCHAR},
			#{totCapa	,mode=IN	,	jdbcType=VARCHAR},
			#{useYn		,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser	,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
	<!-- 좌석마감 하기  -->
    <select id="erp202001End"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO"
    															resultType		="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_CAPA_CLOSE (
			#{capaId	,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser	,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select> 
    
    
    <!-- 시공좌석 일괄생성 팝업창에서 일괄생성 저장하기 -->
	<select id="erp202001p1Save"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO"
    															resultType		="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_CAPA_CRT (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{dtType		,mode=IN	,	jdbcType=VARCHAR},
	      	#{fromDt		,mode=IN	,	jdbcType=VARCHAR},
	      	#{toDt			,mode=IN	,	jdbcType=VARCHAR},
	      	#{dtList		,mode=IN	,	jdbcType=VARCHAR},
	      	#{instCtgr		,mode=IN	,	jdbcType=VARCHAR},
	      	#{instType		,mode=IN	,	jdbcType=VARCHAR},
	      	#{seatTypeList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instZoneType	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instZoneList	,mode=IN	,	jdbcType=VARCHAR},
	      	#{weekList		,mode=IN	,	jdbcType=VARCHAR},
	      	#{capaCnt		,mode=IN	,	jdbcType=VARCHAR},
	      	#{saveUser		,mode=IN	,	jdbcType=VARCHAR}
	      	
	      )      
      }

    </select>
    
    
    
    
    <!-- erp202001p2 좌석 점유 상제 조회 리스트 -->
    <select id="erp202001p2List"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO"
    															resultType		="com.sonictms.alsys.erp.erp202001.entity.Erp202001VO">
        {
	      CALL sonictmsdev_mssql..USP_INST_CAPA_CRT_POPUP_LOAD (
	      	#{capaId		,mode=IN	,	jdbcType=VARCHAR}
	      	
	      )      
      }
    </select>
    
    
    
    
         
</mapper>
