<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="logFileName">logFile</Property>
		<!-- <Property name="consoleLayout">%style{%d{ISO8601}}{black} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}:%msg%n%throwable</Property> -->
		
		<!-- <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property> -->
		
		<!-- <Property name="consoleLayout">%style{%d}{black} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}:%msg%n%throwable</Property> -->
		<!-- <Property name="consoleLayout">	%d %-5level %-30t %X{tblUserMId} %X{userNm} %X{cmpyNm} %c(%M:%L) - %m%n</Property>
		<Property name="fileLayout">	%d %-5level %-30t %X{tblUserMId} %X{userNm} %X{cmpyNm} %c(%M:%L) - %m%n</Property> -->
		
		<!-- <Property name="consoleLayout">	%d %-5level %-30t %X %c(%M:%L) - %m%n</Property>
		<Property name="fileLayout">	%d %-5level %-30t %X %c(%M:%L) - %m%n</Property> -->
		
		
		<Property name="consoleLayout">	%d %-5level %-25t %X %F(%M:%L) - %m%n</Property>
		<Property name="fileLayout">	%d %-5level %-25t %X %F(%M:%L) - %m%n</Property>
		
		
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${consoleLayout}" />
		</Console>
		<RollingFile name="file" fileName="${catalina.home}/logs/${logFileName}.log"	filePattern="${sys:catalina.base}/logs/${logFileName}.%d{yyyy-MM-dd}.log.zip">
		<!-- <RollingFile name="file" fileName="../logs/${logFileName}.log"	filePattern="../logs/${logFileName}.%d{yyyy-MM-dd}.log.zip"> -->
			<PatternLayout pattern="${fileLayout}" />
			<Policies>
				<!-- <SizeBasedTriggeringPolicy size="10MB" /> --> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->      
				<TimeBasedTriggeringPolicy modulate="true"	interval="1" /><!-- filePattern 가 hh 시 단위인데 interval 2라면 2시간마다 파일생김 -->
			</Policies>
			
			<!-- <DefaultRolloverStrategy max="168" fileIndex="min" /> -->
			<!-- 롤링 파일 max값 까지 생성. 이 설정이 없으면 default 8 -->
			
		</RollingFile>
	</Appenders>

	<Loggers>
		
		<!-- 기본 레벨은 info로 설정하여 스프링부트 기본 로그 유지 -->
		<Root level="info" additivity="false" >
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
		
		<!-- 스프링 프레임워크에서 찍는건 level을 info로 설정 -->
		<logger name="org.springframework.*" level="info"	additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>
		
		<!-- 애플리케이션 로그는 error로 설정 -->
		<logger name="com.allianceLogistics.*" level="error"	additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>

		<!-- SQL Logger -->
		<logger name="jdbc.sqlonly" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>

		<logger name="jdbc.sqltiming" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>

		<logger name="jdbc.resultsettable" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>

		<logger name="jdbc.audit" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>
		
		<logger name="jdbc.resultset" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>

		<logger name="jdbc.connection" level="error" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</logger>
	</Loggers>
</Configuration>