<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.mobile.mCustCal.mapper.MobileCustCalMapper">

	<!-- 고객이 배송 가능/불가능 날짜 불러오기 -->
    <select id="mCustCalDisableDay"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO"
    															resultType		="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO">
        {
	      CALL ${schema}..USP_INST_CAPA_SO_LISTBYALL_FOR_CUST (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{soNo		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    <!-- 배송날짜 저장하기 (실제는 CAPA_ID 저장하기)     -->
    <select id="mCustCalSaveDate"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO"
    															resultType		="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO">
        {
	      CALL ${schema}..USP_INST_CAPA_SO_INS_FOR_CUST (
	      	#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{soNo		,mode=IN	,	jdbcType=VARCHAR},
	      	#{capaId	,mode=IN	,	jdbcType=VARCHAR}
			
	      )      
      }
    </select>
 
    <!-- 20220224 정연호 신규. 평가를 했나 안했나 조회하는것 -->
    <select id="mFeedSrch"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO"
    														resultType		="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO">
        {
	      CALL ${schema}..USP_INST_EVAL_CHK (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{tblSoMId		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    <!-- 20220224 정연호 신규. 평가 결과 저장하기     -->
    <select id="mSaveFeedBack"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO"
    															resultType		="com.sonictms.alsys.mobile.mCustCal.entity.MobileCustCalVO">
        {
	      CALL ${schema}..USP_INST_EVAL_SAVE (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
			#{tblSoMId	    ,mode=IN	,	jdbcType=VARCHAR},
			#{soNo		    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem1	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem2	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem3	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem4	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem5	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem6	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem7	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem8	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem9	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalItem10	,mode=IN	,	jdbcType=VARCHAR},
			#{evalSpcl1	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalSpcl2	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalSpcl3	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalSpcl4	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalSpcl5	    ,mode=IN	,	jdbcType=VARCHAR},
			#{evalMsg		,mode=IN	,	jdbcType=VARCHAR},
			#{saveUser      ,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
</mapper>
