<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allianceLogistics.alsys.menu.mapper.MenuMapper">


    <select id="menuList"  statementType="CALLABLE"  parameterType="com.allianceLogistics.alsys.menu.entity.MenuVO" 	resultType="com.allianceLogistics.alsys.menu.entity.MenuVO">
        {
	      CALL sonictmsdev_mssql..USP_MENU_LIST_BY_GRNT_R (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{sysCd			,mode=IN	,	jdbcType=VARCHAR},
	      	#{userGrntCd	,mode=IN	,	jdbcType=VARCHAR}
	      	
	      )      
      }

    </select>

</mapper>
