<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.erp.erp101003.mapper.Erp101003Mapper">

	<!-- 그리드 목록 조회하기 -->
    <select id="erp101003List"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO"
    															resultType		="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO">
        {
	      CALL ${schema}..USP_SO_ALLUPDATE_LISTBYALL (
	      	#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},		
			#{dtType	,mode=IN	,	jdbcType=VARCHAR},	
			#{fromDt	,mode=IN	,	jdbcType=VARCHAR},	
			#{toDt		,mode=IN	,	jdbcType=VARCHAR},
			#{agntList	,mode=IN	,	jdbcType=VARCHAR},
			#{dcList	,mode=IN	,	jdbcType=VARCHAR},	
			#{soList	,mode=IN	,	jdbcType=VARCHAR},	
			#{soTypeList,mode=IN	,	jdbcType=VARCHAR},	
			#{soStatList,mode=IN	,	jdbcType=VARCHAR},	
			#{mallNm	,mode=IN	,	jdbcType=VARCHAR},	
			#{acptNm	,mode=IN	,	jdbcType=VARCHAR},	
			#{acptTel	,mode=IN	,	jdbcType=VARCHAR},
			#{useYn		,mode=IN	,	jdbcType=VARCHAR},
			#{refSoList	,mode=IN	,	jdbcType=VARCHAR},
			#{srchAddr	,mode=IN	,	jdbcType=VARCHAR},
			
			<!-- 20220106 정연호 추가. 시공카테고리 -->
			#{instCtgrList		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    
    
        <!-- 체크한 것들 삭제(일괄삭제)  -->
	<select id="erp101003ChkDel"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO"
    															resultType		="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO">
        {
	      CALL ${schema}..USP_SO_ALLUPDATE_DEL (
	      	#{tblSoMId		,mode=IN	,	jdbcType=VARCHAR},
	      	#{delResn		,mode=IN	,	jdbcType=VARCHAR},
	      	#{saveUser		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }

    </select>
  
  
        <!-- 체크한 것들 변경(일괄변경)  -->
	<select id="erp101003chkUpdt"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO"
    															resultType		="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO">
        {
	      CALL ${schema}..USP_SO_ALLUPDATE_UPDT (
	      	#{tblSoMId		,mode=IN	,	jdbcType=VARCHAR},
	      	#{updtGubn		,mode=IN	,	jdbcType=VARCHAR},
	      	#{soStatCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{soType		,mode=IN	,	jdbcType=VARCHAR},
	      	#{dcCd			,mode=IN	,	jdbcType=VARCHAR},
	      	#{dlvyCnfmDt	,mode=IN	,	jdbcType=VARCHAR},
	      	#{giLiftDt		,mode=IN	,	jdbcType=VARCHAR},
	      	#{dlvyRqstMsg	,mode=IN	,	jdbcType=VARCHAR},
	      	#{instMemo		,mode=IN	,	jdbcType=VARCHAR},
	      	#{dlvyStatCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{dlvyCmplDt	,mode=IN	,	jdbcType=VARCHAR},
	      	#{saveUser		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }

    </select>
    
    <!-- 20211226 정연호 추가.  체크한 것들 주문복사  -->
	<select id="erp101003chkCopy"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO"
    															resultType		="com.sonictms.alsys.erp.erp101003.entity.Erp101003VO">
        {
	      CALL ${schema}..USP_SO_ALLUPDATE_COPY (
	      	#{cmpyCd		,mode=IN	,	jdbcType=VARCHAR},
	      	#{tblSoMId		,mode=IN	,	jdbcType=VARCHAR},
	      	#{saveUser		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }

    </select>
</mapper>
