<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sonictms.alsys.erp.erp105007.mapper.Erp105007Mapper">

    <!-- 미확정리스트 조회 -->
    <select id="erp105007List" parameterType="com.sonictms.alsys.erp.erp105007.entity.Erp105007VO"
            resultType="com.sonictms.alsys.erp.erp105007.entity.Erp105007VO">
        SELECT DISTINCT
        DBO.F_COL_NM('A', 'AGNT_CD', 'AGNT_CD', SM.AGNT_CD) AS AGNT_NM,
        DBO.F_COL_NM('A', 'COMM', 'SO_ORDR_TYPE', SM.SO_TYPE) AS SO_TYPE_NM,
        DBO.F_COL_NM('A', 'COMM', 'SO_STAT_CD', SM.SO_STAT_CD) AS SO_STAT_NM,
        DBO.F_COL_NM('A', 'DC_CD', 'DC_CD', SM.DC_CD) AS DC_NM,
        SM.DLVY_CNFM_DT,
        SM.GI_LIFT_DT,
        CONVERT(VARCHAR(10), IM.UPDT_TIME, 112) AS LIFT_CMPL_DT,
        IM.UPDT_TIME AS LIFT_CMPL_TIME,
        IM.LIFT_CMPL_YN,
        SM.SO_NO,
        SP.REF_SO_NO,
        SM.ACPT_ER,
        IP.PALT_NOXX,
        UM.USER_NM AS INST_ER,
        DBO.F_COL_NM(SM.CMPY_CD, 'COMM', 'DLVY_STAT_CD', IM.DLVY_STAT_CD) AS DLVY_STAT_NM,
        ISNULL(BM.C_MTRL_CD, SP.PROD_CD) AS CPROD_CD,
        ISNULL(MM2.MTRL_NM, SP.PROD_NM) AS CPROD_NM,
        ISNULL(BM.QTY * SP.QTY, SP.QTY) AS CQTY,
        SM.SAVE_TIME
        FROM TBL_SO_P SP
        INNER JOIN TBL_SO_M SM ON SP.TBL_SO_M_ID = SM.TBL_SO_M_ID
        LEFT JOIN TBL_MTRL_M PM ON SP.PROD_CD = PM.MTRL_CD
        LEFT JOIN TBL_AGENCY_M AG ON SM.AGNT_CD = AG.AGNT_CD
        LEFT JOIN TBL_LGST_DC_M DC ON SM.DC_CD = DC.DC_CD
        LEFT JOIN TBL_INST_PLAN_M IP ON SM.TBL_SO_M_ID = IP.TBL_SO_M_ID
        LEFT JOIN TBL_USER_M UM ON IP.TBL_USER_M_ID = UM.TBL_USER_M_ID
        LEFT OUTER JOIN TBL_BOM_M AS BM WITH (NOLOCK)
        ON SP.PROD_CD = BM.MTRL_CD AND SM.AGNT_CD = BM.AGNT_CD AND BM.USE_YN = 'Y'
        LEFT OUTER JOIN TBL_MTRL_M AS MM2 WITH (NOLOCK)
        ON BM.C_MTRL_CD = MM2.MTRL_CD AND BM.AGNT_CD = MM2.AGNT_CD
        LEFT OUTER JOIN TBL_INST_MOBILE_M AS IM WITH (NOLOCK) ON SM.TBL_SO_M_ID = IM.TBL_SO_M_ID
        WHERE 1=1
        AND (SM.SO_STAT_CD = '1000' OR SM.SO_STAT_CD = '1200' OR SM.SO_STAT_CD = '1900')
        AND SP.USE_YN = 'Y'
        AND SM.SO_TYPE IN ('1000', '3100', '4000', '5000', '6000', '9901', '9902', '9905', '9908')
        AND ISNULL(PM.MTO_YN, 'N') = 'N'
        <if test="fromDt != null and fromDt != ''">
            <choose>
                <when test="dtType != null and (dtType == '1' or dtType == 1)">
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </when>
                <when test="dtType != null and (dtType == '2' or dtType == 2)">
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </when>
                <when test="dtType != null and (dtType == '3' or dtType == 3)">
                    AND SM.DLVY_CNFM_DT >= #{fromDt}
                </when>
                <when test="dtType != null and (dtType == '4' or dtType == 4)">
                    AND CONVERT(VARCHAR(10), IM.UPDT_TIME, 112) >= #{fromDt}
                </when>
                <otherwise>
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </otherwise>
            </choose>
        </if>
        <if test="toDt != null and toDt != ''">
            <choose>
                <when test="dtType != null and (dtType == '1' or dtType == 1)">
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </when>
                <when test="dtType != null and (dtType == '2' or dtType == 2)">
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </when>
                <when test="dtType != null and (dtType == '3' or dtType == 3)">
                    AND SM.DLVY_CNFM_DT &lt;= #{toDt}
                </when>
                <when test="dtType != null and (dtType == '4' or dtType == 4)">
                    AND CONVERT(VARCHAR(10), IM.UPDT_TIME, 112) &lt;= #{toDt}
                </when>
                <otherwise>
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </otherwise>
            </choose>
        </if>
        <if test="agntList != null and agntList != ''">
            AND SM.AGNT_CD IN
            <foreach collection="agntList.split(',')" item="agnt" open="(" close=")" separator=",">
                #{agnt}
            </foreach>
        </if>
        <if test="dcList != null and dcList != ''">
            AND SM.DC_CD IN
            <foreach collection="dcList.split(',')" item="dc" open="(" close=")" separator=",">
                #{dc}
            </foreach>
        </if>
        <if test="soList != null and soList != ''">
            AND SM.SO_NO IN
            <foreach collection="soList.split(',')" item="so" open="(" close=")" separator=",">
                #{so}
            </foreach>
        </if>
        <if test="soTypeList != null and soTypeList != ''">
            AND SM.SO_TYPE IN
            <foreach collection="soTypeList.split(',')" item="soType" open="(" close=")" separator=",">
                #{soType}
            </foreach>
        </if>
        <if test="acptNm != null and acptNm != ''">
            AND SM.ACPT_ER LIKE '%' + #{acptNm} + '%'
        </if>
        <if test="prodList != null and prodList != ''">
            AND SP.PROD_CD IN
            <foreach collection="prodList.split(',')" item="prod" open="(" close=")" separator=",">
                #{prod}
            </foreach>
        </if>
        <if test="prodNm != null and prodNm != ''">
            AND SP.PROD_NM LIKE '%' + #{prodNm} + '%'
        </if>
        ORDER BY LIFT_CMPL_TIME DESC, SM.SAVE_TIME DESC
    </select>

</mapper>
