<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>주문관리 (erp901006)</title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_roboto/roboto.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.dhtmlx.com/edge/fonts/font_awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/skins/web/dhtmlx.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/erp-style.css">
	<script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/commCode.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

	<script th:inline="javascript">
		var pagePerRow =	/*[[${@environment.getProperty('common.html.pagePerRow')}]]*/
	var myWins;
		var myGrid;
		var searchRes;
		var myCalendar;


		fnObj = {
			winOpen: {

				commSrch: function (title, cmpyCd, srchCtgr, srchInput) {		//공통코드 찾기 팝업
					windowId = "commSrch";
					windowText = title + " commSrch";
					windowUrl = "/commSrch"
					windowLeft = -14400;
					windowTop = -14400;
					windowWidth = 800;
					windowHeight = 600;
					windowsModal = true;
					windowOnClose = function (windowId) {

						return true;
					};
					windowSendObject = {
						cmpyCd: cmpyCd,
						srchCtgr: srchCtgr,
						srchInput: srchInput,
						windowId: windowId,
						srchCd: $("#srchCode").val(),
						srchNm: $("#srchName").val()
					};


					myWindowsOpen(windowId, windowText, windowUrl, windowLeft, windowTop, windowWidth, windowHeight, windowsModal, windowOnClose, windowSendObject);

					myWins.window(windowId).attachEvent("onClose", function (win) {
						//alert("windowId : " + windowId);
						return true;
					});
				},	//END of commSrch : function(){

				//양식등록 팝업
				exclTmplPopup: function () {
					windowId = "erp901006p1";
					windowText = "양식등록 팝업 erp901006p1";
					windowUrl = "/erp901006p1"
					windowLeft = 0;
					windowTop = 0;
					windowWidth = 1200;
					windowHeight = 600;
					windowsModal = true;
					windowOnClose = function (windowId) {
						alert("windowId : " + windowId);
						return true;
					};
					windowSendObject = {
						cmpyCd: myComboCmpyCd.getSelectedValue(),
						windowId: windowId,
						srchCode: $("#srchCode").val(),
						srchName: $("#srchName").val(),
						exclTmplType: myComboExclTmplType.getSelectedValue()

					};


					myWindowsOpen(windowId, windowText, windowUrl, windowLeft, windowTop, windowWidth, windowHeight, windowsModal, windowOnClose, windowSendObject);

					myWins.window(windowId).attachEvent("onClose", function (win) {

						return true;
					});
				},	//END of exclTmplPopup : function(){



				//양식수정 팝업
				exclUpdtPopup: function (updtData) {

					windowId = "erp901006p2";
					windowText = "양식수정 팝업 erp901006p2";
					windowUrl = "/erp901006p2"
					windowLeft = 0;
					windowTop = 0;
					windowWidth = 1200;
					windowHeight = 600;
					windowsModal = true;
					windowOnClose = function (windowId) {
						alert("windowId : " + windowId);
						return true;
					};
					windowSendObject = {
						cmpyCd: myComboCmpyCd.getSelectedValue(),
						windowId: windowId,
						tmplId: updtData.tmplId

					};


					myWindowsOpen(windowId, windowText, windowUrl, windowLeft, windowTop, windowWidth, windowHeight, windowsModal, windowOnClose, windowSendObject);

					myWins.window(windowId).attachEvent("onClose", function (win) {

						return true;
					});
				},	//END of exclUpdtPopup : function(){

				rtnObject: function (windowId, rtnObj, srchInput) {	//popup window 에서 주는 리턴을 여기서 처리하고싶은데로 처리함

					if (windowId == "commSrch") {

						if (rtnObj == null) {
							myWins.window(windowId).setPosition(0, 0);
							return;
						}
						if (srchInput == "text") {
							$("#srchCode").val(rtnObj[0].commCd);
							$("#srchName").val(rtnObj[0].commNm);
						}
					}
					if (windowId == "erp901006p1") {

						f(rtnObj == null)
						{
							myWins.window(windowId).setPosition(0, 0);

							return;
						}
						rtnSoType = rtnObj[0].soType;
						fnObj.winOpen.soInsertPopup(rtnSoType);

					}
				},	//END of rtnObject : function(windowId,rtnObj){
			},	//END of winOpen
			comboOpen: {
				comboCmpyCd: function () {		//회사콤보목록
					myComboCmpyCd = new dhtmlXCombo("cmpyCd");
					comboList(myComboCmpyCd, 'A', 'COMM', 'CMPY_CD', '', 'Y', '');
					myComboCmpyCd.selectOption(myComboCmpyCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
					myComboCmpyCd.setFontSize("12px", "12px");
					myComboCmpyCd.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
					});
					myComboCmpyCd.disable();

				},




				comboExclTmplType: function () {		//물류센터 콤보
					myComboExclTmplType = new dhtmlXCombo("exclTmplType");
					comboList(myComboExclTmplType, 'A', 'COMM', 'EXCL_TMPL_TYPE', '', 'Y', 'req');
					myComboExclTmplType.selectOption(1);
					myComboExclTmplType.setFontSize("12px", "12px");
					myComboExclTmplType.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
					});
					myComboExclTmplType.disable();
				},
			},	//END of comboOpen
			gridOpen: {
				grid: function () {

					myGrid.setImagePath("https://cdn.dhtmlx.com/edge/skins/web/imgs/");
					myGrid.setHeader("양식고유ID,회사코드,화주코드,화주,양식구분코드,양식구분,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z");
					myGrid.setColumnIds("tmplId,cmpyCd,agntCd,agntNm,exclTmplType,exclTmplName,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z");
					myGrid.setInitWidths("100,80,80,80,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100");
					myGrid.setColAlign(",,,center,,center,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left");
					myGrid.setColTypes("ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro");
					myGrid.setColSorting(",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,");
					//myGrid.attachHeader(",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,");



					myGrid.setColumnHidden(myGrid.getColIndexById("tmplId"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("cmpyCd"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("agntCd"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("exclTmplType"), true);	//컬럼 아이디로 해당 컬럼 가리기

					myGrid.init();		//이걸써야 세팅한 그리드가 표시가 된다


					myGrid.enableSmartRendering(true);	//스마트렌더링기능 가능	//데이터를 많이 구했더라도 제일 처음 에는 화면 크기에 나올수있을만큼만 보여준다. 스크롤을 움직이면 그떄 갖고있던 데이터들을 그려주기 시작한다
					myGrid.enablePreRendering(10);	//20220423 정연호 추가

					fnObj.gridOpen.setWidth();
					//그래야 진짜 화면에 보이는 높이가 만들어진다
					myGrid.addRow(1, "");	//로우 추가
					myGrid.deleteRow(1);


					myGrid.enableEditEvents(true, false, false);	//이걸쓰면 로우의 onRowDblClicked 이벤트 때문에 onEditCell 이벤트가 안되는것을 막을수 있다	//클릭, 더블클릭,F2
					myGrid.enableBlockSelection(true);

					myGrid.attachEvent("onKeyPress", fnObj.keyOpen.onKeyPressed);

					myGrid.attachEvent("onRowDblClicked", function (rId, cInd) {
						//console.log(myGrid.getRowData(rId));
						fnObj.winOpen.exclUpdtPopup(myGrid.getRowData(rId))
					});
				},//grid
				setWidth: function () {
					c_width = top.myLayout.cells("c").getWidth();
					searchDiv_height = $("#searchDiv").height();
					searchDiv2nd_height = $("#searchDiv2nd").height();
					page_height = $("#page").height();
					xhdr_height = $(".xhdr").height();

					myGrid.enableAutoWidth(true, c_width - 25, 100);
					myGrid.enableAutoHeight(true, window.innerHeight - searchDiv_height - searchDiv2nd_height - page_height - xhdr_height - 30);	//그리드 자동높이


					$("#searchDiv").width(c_width - 25);
					$("#searchDiv2nd").width(c_width - 25);

				},	//END of setWidth
			},	//END of gridOpen
			searchOpen: {
				exclSheet2: function () {

					var qtyErrCnt = 0;
					var postCdErrCnt = 0;
					var rcptCostErrCnt = 0;
					var soTypeErrCnt = 0;
					var srchRule;
					var rtnVal = null;
					var srchData = new FormData();
					srchData.append("cmpyCd", myComboCmpyCd.getSelectedValue());
					srchData.append("comboType", "COMM");
					srchData.append("commCd", "SO_ORDR_TYPE");
					srchData.append("comdCd", "");
					srchData.append("useYn", "Y");
					$.ajax({
						url: "/comComboList",
						processData: false,
						contentType: false,
						data: srchData,
						type: "POST",
						async: false,
						datatype: "json",

						success: function (res) {

							if (res) {
								rtnVal = res;


							}
							else {
								alert("주문일괄유형 조회 결과 없음");

							}
						},
					});
					return rtnVal;
				},

				search: function () {	//그리드 목록 조회하기
					myGrid.clearAll(false);

					if (!fnObj.searchOpen.searchChkVal.chkVal("search")) {
						alert(chkValMsg);
						return false;
					}

					var srchData = new FormData();
					srchData.append("cmpyCd", myComboCmpyCd.getSelectedValue());
					srchData.append("agntCd", $("#srchCode").val());	//화주사
					srchData.append("exclTmplType", myComboExclTmplType.getSelectedValue());		//양식구분

					/*  for (var pair of srchData.entries()) 
					{ 
						console.log(pair[0]+ ' :  ' + pair[1]);
					}  */




					$.ajax({
						url: "/erp901006List",
						processData: false,
						contentType: false,
						data: srchData,
						type: "POST",
						datatype: "json",
						//async:false,
						success: function (res) {


							//console.log(res);
							if (res) {

								searchRes = res;
								searchPaging(1);

							}
							else {
								alert("조회 수행 결과 없음");
							}
						},
					});


				},	//END of search : function() {


				delSrchCode: function () {
					$("#srchCode").val("");
					$("#srchName").val("");
				},	//END of delSrchCode : function(){

				searchChkVal: {
					chkVal: function (chkGubn) {
						chkValMsg = "";	//메세지 초기화
						var rtnVal = true;

						if (chkGubn == "search") {
							if (!myComboCmpyCd.getSelectedValue()) {
								chkValMsg = chkValMsg + "회사코드가 없습니다.\n";
								rtnVal = false;
							}
							//20211226 정연호 권한이 시스템관리자-userGrntCd (ERP권한) 이 시스템관리자(9999) -라면 화주사 없어도 검색되게 함
							//


							var ugc2 = /*[[${session.userGrntCd}]]*/
							if (ugc2 != "9999") {

								if (!$("#srchCode").val()) {
									chkValMsg = chkValMsg + "화주사코드가 없습니다.화주사를 검색해주세요\n";
									rtnVal = false;
								}
								if (!$("#srchName").val()) {
									chkValMsg = chkValMsg + "화주사명칭이 없습니다.화주사를 검색해주세요\n";
									rtnVal = false;
								}

							}

							if (!myComboExclTmplType.getSelectedValue()) {
								chkValMsg = chkValMsg + "양식구분을 선택해주세요.\n";
								rtnVal = false;
							}
						}
						return rtnVal;
					},	//END of chkVal : function(){
				},	//END of searchChkVal

			},	//END of searchOpen
			keyOpen: {
				enterKey: function (enterType) {
					if (window.event.keyCode == 13) {

						if (enterType == 'srchName') {
							$("#srchName").blur();
							$("#srchCode").blur();


							$("#srchCode").val("");
							fnObj.winOpen.commSrch('화주', 'A', 'AGENCY', 'text');
						}

					}
				},
				onKeyPressed: function (code, ctrl, shift) {
					if (code == 67 && ctrl) {
						myGrid.setCSVDelimiter("\t");
						myGrid.copyBlockToClipboard()
					}
					if (code == 86 && ctrl) {
						myGrid.pasteBlockFromClipboard()
					}
					return true;
				},
			}
		}



		//엑셀 다운로드 
		function s2ab2(s) {
			var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
			var view = new Uint8Array(buf);  //create uint8array as viewer

			for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
			return buf;
		}
		function exportExcel2() {
			if (!myGrid.getRowsNum()) {
				alert("조회를해주세요");
				return;
			}


			// step 1. workbook 생성
			var wb = XLSX.utils.book_new();

			// step 2. 시트 만들기 
			var newWorksheet = excelHandler.getWorksheet();
			delete_row(newWorksheet, 0)		//엑셀 로우 1줄 지우기
			var newWorksheet2 = excelHandler.getWorksheet2();
			// step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
			XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());
			XLSX.utils.book_append_sheet(wb, newWorksheet2, excelHandler.getSheetName2());
			// step 4. 엑셀 파일 만들기 
			var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

			// step 5. 엑셀 파일 내보내기 
			saveAs(new Blob([s2ab2(wbout)], { type: "application/octet-stream" }), excelHandler.getExcelFileName());

		}

		function ec(r, c) {
			return XLSX.utils.encode_cell({ r: r, c: c });
		}
		function delete_row(ws, row_index) {
			var variable = XLSX.utils.decode_range(ws["!ref"])
			for (var R = row_index; R < variable.e.r; ++R) {
				for (var C = variable.s.c; C <= variable.e.c; ++C) {
					ws[ec(R, C)] = ws[ec(R + 1, C)];
				}
			}
			variable.e.r--
			ws['!ref'] = XLSX.utils.encode_range(variable.s, variable.e);
		}


		//엑셀 헨들러
		var excelHandler = {
			getExcelFileName: function () {
				return '엑셀업로드양식_' + $("#srchName").val() + '_' + myComboExclTmplType.getSelectedText() + '_' + '.xlsx';		//엑셀파일명
			},
			getSheetName: function () {
				return myComboExclTmplType.getSelectedText();		//시트명
			},
			getExcelData: function () {
				return get_json_res_erp901006(myGrid, searchRes);
			},
			getWorksheet: function () {
				//엑셀 다운로드의 셀 타입을 텍스트 형태로 하는 법
				var worksheet = XLSX.utils.json_to_sheet(this.getExcelData());

				var range = XLSX.utils.decode_range(worksheet['!ref']);

				for (var r = range.s.r; r <= range.e.r; r++) {
					for (var c = range.s.c; c <= range.e.c; c++) {
						var cellName = XLSX.utils.encode_cell({ c: c, r: r });
						worksheet[cellName].z = '@';
					}
				}


				return worksheet;
			},
			getSheetName2: function () {
				return "주문유형안내";		//시트명
			},
			getExcelData2: function () {
				var sheet2Val = fnObj.searchOpen.exclSheet2();

				var sheet2Data = [];
				var sheet2Obj = {};
				for (var i = 0; i < sheet2Val.length; i++) {
					sheet2Obj.주문유형코드 = sheet2Val[i].comboCd; sheet2Obj.주문유형 = sheet2Val[i].comboNm; sheet2Data.push(sheet2Obj); sheet2Obj = {};
				}




				return sheet2Data;
			},
			getWorksheet2: function () {
				//myGrid.deleteRow(1);
				//엑셀 다운로드의 셀 타입을 텍스트 형태로 하는 법
				var worksheet = XLSX.utils.json_to_sheet(this.getExcelData2());

				var range = XLSX.utils.decode_range(worksheet['!ref']);

				for (var r = range.s.r; r <= range.e.r; r++) {
					for (var c = range.s.c; c <= range.e.c; c++) {
						var cellName = XLSX.utils.encode_cell({ c: c, r: r });
						worksheet[cellName].z = '@';
					}
				}


				return worksheet;
				//return XLSX.utils.json_to_sheet(this.getExcelData2());
			}

		}

		//res to json for erp901006 엑셀업로드 양식관리 전용 (myGrid의 눈에 보이는 컬럼값에 해당하는것)
		function get_json_res_erp901006(myGrid, res) {

			if (res == undefined || res == null || res.length <= 0) {
				alert("조회를해주세요");
				return;
			}

			var rowArr = {};
			var newArr = [];
			var rows = res.length;
			var columns = myGrid.getColumnCount();

			for (var r = 0; r < rows; r++)		//조회한 결과 res 의 로우 수 만큼 반복
			{
				for (var c = 6; c < columns; c++) {
					var isHidden = myGrid.isColumnHidden(c)
					if (!isHidden)	//false 면 컬럼이 가려지지 않았다는것
					{


						var colLabel = myGrid.getColLabel(c)

						var colId = myGrid.getColumnId(c)
						var resValue = res[r][colId]

						/* if(!resValue)
						{
							resValue = "";
						}
						rowArr[resValue] = '';//resValue; */
						rowArr[colLabel] = resValue;

					}
				}

				newArr.push(rowArr);
				rowArr = {};
			};
			//console.log(newArr)
			return newArr;
		}






		function searchPaging(page) {


			if ($("#rowPerPage").val()) {
				pagePerRow = parseInt($("#rowPerPage").val());
			}

			var pageRange = 10;	//페이지범위를 몇개씩짜를것인가. 예) 23페이지 라면 1 2 3 4 5 6 7 8 9 10  이 한번 나오고 >> 누르면 11 12 13 14 15 16 17 18 19 20 나오고 >> 누르면 21 22 23 나옴

			var totalPageCnt = searchRes.length % pagePerRow == 0 ? parseInt(searchRes.length / pagePerRow) : parseInt(searchRes.length / pagePerRow) + 1

			var a = "<div class='pagination-container'>";

			//패이징 처리
			var start = (page - 1);
			var end = (page - 1) + pageRange;

			if (start % pageRange != 0) {
				start = parseInt(start / pageRange) * pageRange;
			}

			if (end % pageRange != 0 || page == 1) {
				end = parseInt(end / pageRange) * pageRange;
			}

			if (start >= pageRange) {
				a += "<input type='button' onclick='searchPaging(" + 1 + ");' value='<<' class='pagination-button'>";
				a += "<input type='button' onclick='searchPaging(" + (start - 1) + ");' value='<' class='pagination-button'>";
			}

			var r = 0;

			for (r = start; r < end; r++) {
				if (r < totalPageCnt) {
					if (r + 1 == page)		//현재페이지 강조
					{
						a += "<input type='button' onclick='searchPaging(" + (r + 1) + ");' value=" + (r + 1) + " class='pagination-button active'>";
					} else {
						a += "<input type='button' onclick='searchPaging(" + (r + 1) + ");' value=" + (r + 1) + " class='pagination-button'>";
					}
				}
			}

			if (end * pagePerRow < searchRes.length) {
				a += "<input type='button' onclick='searchPaging(" + (end + 1) + ");' value='>' class='pagination-button'>";
				a += "<input type='button' onclick='searchPaging(" + totalPageCnt + ");' value='>>' class='pagination-button'>";
			}

			a += "<div class='pagination-info'>";
			a += "<input type='number' maxlength=4 id='rowPerPage' value=" + pagePerRow + ">";
			a += "<input type='button' value='적용' onclick='searchPaging(" + 1 + ");' class='action-button'>";
			a += "&nbsp;&nbsp;<i class='fa fa-calculator fa-lg' aria-hidden='true'></i>&nbsp;" + searchRes.length;
			a += "</div></div>";
			$("#page").html(a);

			var is = (page - 1) * pagePerRow;	//시작점
			var ie = (page - 1) * pagePerRow + pagePerRow;	//종료점

			if (searchRes.length < ie) {
				ie = searchRes.length;

			}

			myGrid.clearAll(false);

			var columns = myGrid.getColumnCount()
			for (var i = is; i < ie; i++) {


				var jsonData = {};
				for (var c = 0; c < columns; c++) {

					jsonData[myGrid.getColumnId(c)] = searchRes[i][myGrid.getColumnId(c)];

				}

				myGrid.addRow(i + 1, "");	//로우 추가	//로우는 1부터 시작해야함. 0부터 시작하면 안됨. 그래서 i 에 1을 더함
				myGrid.setRowData(i + 1, jsonData);


			}
		}




		$(document).ready(function () {


			myWins = new dhtmlXWindows();
			myGrid = new dhtmlXGridObject('grid');	//그리드

			fnObj.comboOpen.comboCmpyCd();	//회사콤보 바인드
			fnObj.comboOpen.comboExclTmplType();	//양식구분

			fnObj.gridOpen.grid()

			window.onresize = function (event) {		//윈도우의 사이즈가 변경했을떄
				fnObj.gridOpen.setWidth();
				fnObj.gridOpen.setWidth();
			};



			//userGrntCd (ERP권한) 이 시스템관리자(9999) 면 원하는대로 화주사를 선택 또는 전체 조회가능
			//그게 아니라면 본인의 정보에 들어있는 그 화주사와 그 화주사명칭을 검색조건에 박아놓고 못고치게 막음

			var ugc = /*[[${session.userGrntCd}]]*/

	if (ugc != "9999") {
				$("#srchCode").val(/*[[${session.agntCd}]]*/);
				$("#srchCode").attr("realonly", true);
				$("#srchName").val(/*[[${session.agntNm}]]*/);
				$("#srchName").attr("realonly", true);
			}

		});

		//20211226 정연호 추가. 키보드에서 F2 누르면 조회하기
		$(document).keydown(function (event) {
			if (event.keyCode == 113 || event.which == 113) {
				fnObj.searchOpen.search()
			}
		});
	</script>
</head>

<body>
	<div id="mainDiv">
		<div id="searchDiv">
			<div id="btnDiv1">
				<div class="title-container">
					<span class="item-head title-text">엑셀 업로드 양식 관리</span>
					<span class="sub-title-text">erp901006</span>
				</div>
				<span class="btn-container">
					<span class="item-data">
						<input id="btnSearch" class="action-button primary" type="button"
							onclick="fnObj.searchOpen.search()" value="조회(F2)">
					</span>
					<span class="item-data">
						<input id="btnSearch" class="action-button success" type="button"
							onclick="fnObj.winOpen.exclTmplPopup()" value="등록">
					</span>
					<span class="item-data">
						<input id="btnExcelDown" class="action-button secondary" type="button" onclick="exportExcel2();"
							value="엑셀 업로드 양식 다운로드">
					</span>
				</span>
			</div>
			<div id="searchDiv1">
				<span class="cell" style="display:none;">
					<span class="item-head">회사</span>
					<span class="item-data">
						<div id="cmpyCd"></div>
					</span>
				</span>
				<span class="cell">
					<span class="item-head">화주사</span>
					<span class="item-data">

						<input type="text" id="srchName" onkeyup="fnObj.keyOpen.enterKey('srchName');"></input>
						<i id="srchIcon" class="fa fa-search" aria-hidden="true"
							onclick="fnObj.winOpen.commSrch('화주','A','AGENCY','text')"></i>
					</span>
					<span class="item-data">
						<input type="text" id="srchCode" readonly></input>
						<i id="delIcon" class="fa fa-minus-circle" aria-hidden="true"
							onclick="fnObj.searchOpen.delSrchCode()"></i>
					</span>
				</span>

				<span class="cell">
					<span class="item-head">양식구분</span>
					<span class="item-data">
						<div id="exclTmplType"></div>
					</span>
				</span>
			</div>
		</div>

		<!-- <div id="searchDiv2nd"
			style="width:100%;font-size:12px;padding-bottom:5px;background-color: papayawhip;display:none;">
			<div id="btnDiv2nd1" style="width:100%;">
				<span class="cell" style="float:right;">
				</span>
			</div>
			<div id="searchDiv2nd1" style="width:100%;">
			</div>
		</div> -->
		<div id="gridDiv">
			<div id="grid"></div>
		</div>
		<div id="page"></div>
	</div>
</body>

</html>