<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head> 
	<title>시공계획 관리(erp203001)</title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_roboto/roboto.css"> 
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_awesome/css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/skins/terrace/dhtmlx.css"> 
	<link rel="stylesheet" type="text/css" href="/css/common.css"> 
    <script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/commCode.js"></script>
    
  
    <!-- 엑셀 다운로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
	
	<script th:inline="javascript" >
	var pagePerRow	=	/*[[${@environment.getProperty('common.html.pagePerRow')}]]*/
	var myWins;
	var myGrid;


	var myGridnOCellChanged;
	
	fnObj={
			winOpen:{
				commSrch : function(title,cmpyCd,srchCtgr,srchInput){		//공통코드 찾기 팝업
					windowId	=	"commSrch";
					windowText	=	title;
					windowUrl	=	"/commSrch"
					windowLeft	=	0;
					windowTop	=	0;
					windowWidth	=	800;
					windowHeight	=	600;
					windowsModal	=	true;
					windowOnClose	=	 function(windowId){
					  		      alert("windowId : " + windowId);
					  		      return true;
					  		  };
					windowSendObject = {
							cmpyCd : 	cmpyCd,
							srchCtgr : 	srchCtgr,
							srchInput : srchInput,
							windowId : windowId
					};
					

					myWindowsOpen(windowId,windowText,windowUrl,windowLeft,windowTop,windowWidth,windowHeight,windowsModal,windowOnClose,windowSendObject);
					
					myWins.window(windowId).attachEvent("onClose", function(win){
						//alert("windowId : " + windowId);
						return true;
					});
				},	//END of commSrch : function(){
				rtnObject : function(windowId,rtnObj,srchInput){	//popup window 에서 주는 리턴을 여기서 처리하고싶은데로 처리함
					if(windowId == "commSrch")
					{
						if(srchInput == "text"){
							$("#srchCode").val(rtnObj[0].commCd);
							$("#srchName").val(rtnObj[0].commNm);
						}
					}
				},	//END of rtnObject : function(windowId,rtnObj){
			},	//END of winOpen
			comboOpen : {
				comboCmpyCd : function(){		//회사콤보목록
					myComboCmpyCd = new dhtmlXCombo("cmpyCd");
			    	comboList(myComboCmpyCd,'A','COMM','CMPY_CD','','Y','');		     
			    	myComboCmpyCd.selectOption(myComboCmpyCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
			    	myComboCmpyCd.setFontSize("12px","12px");
			    	myComboCmpyCd.attachEvent("onChange", function(value, text){
			    		myGrid.clearAll(false);
			    	});
			    	myComboCmpyCd.disable();
			    	
				},	
				comboDcCd : function(){		//권역유형 콤보
					myComboDcCd = new dhtmlXCombo("dcCd");
			    	comboList(myComboDcCd,'A','DC_CD','','','Y','req');		     
			    	//myComboDcCd.selectOption(myComboDcCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
			    	myComboDcCd.selectOption(0);
			    	myComboDcCd.setFontSize("12px","12px");
			    	myComboDcCd.attachEvent("onChange", function(value, text){
			    		myComboDcCd2.selectOption(myComboDcCd.getIndexByValue(myComboDcCd.getSelectedValue()));	
			    	
			    		myGrid.clearAll(false);
			    	
			    		
			    	});
				},	

				
				comboSido : function(){		//시도콤보목록
					myComboSido = new dhtmlXCombo("sido");
			    	comboList(myComboSido,'A','SIDO','','','Y','req');		     
			    	myComboSido.selectOption(0);
			    	myComboSido.setFontSize("12px","12px");
			    	myComboSido.attachEvent("onChange", function(value, text){
			    		myGrid.clearAll(false);
			    		myComboSigu.clearAll();
			    		comboList(myComboSigu,'A','SIGU',myComboSido.getSelectedValue(),'','Y','req');		
			    		myComboSigu.selectOption(0);
			    	});
			    	//myComboSido.disable();
			    	
				},	
				comboSigu : function(){		//구군콤보목록
					myComboSigu = new dhtmlXCombo("sigu");
			    	//comboList(myComboSigu,'A','SIDO','','','Y','req');	
			    	myComboSigu.addOption([{value:"", text:"선택하세요"}]);
			    	myComboSigu.selectOption(0);
			    	myComboSigu.setFontSize("12px","12px");
			    	myComboSigu.attachEvent("onChange", function(value, text){
			    		myGrid.clearAll(false);
			    	});
			    	//myComboSido.disable();
			    	
				},	
				comboMappingYn : function(){
					myComboMappingYn = new dhtmlXCombo("mappingYn");
					myComboMappingYn.addOption([{value:"", text:"전체"}]);
					myComboMappingYn.addOption([{value:"Y", text:"사용"}]);
					myComboMappingYn.addOption([{value:"N", text:"미사용"}]);
					
					myComboMappingYn.selectOption(0);
					myComboMappingYn.setFontSize("12px","12px");
					myComboMappingYn.attachEvent("onChange", function(value, text){
			       		myGrid.clearAll(false);
			    	});
				},
				
				comboCmpyCd2 : function(){		//회사콤보목록
					myComboCmpyCd2 = new dhtmlXCombo("cmpyCd2");
			    	comboList(myComboCmpyCd2,'A','COMM','CMPY_CD','','Y','');		     
			    	myComboCmpyCd2.selectOption(myComboCmpyCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
			    	myComboCmpyCd2.setFontSize("12px","12px");
			    	myComboCmpyCd2.attachEvent("onChange", function(value, text){
			    		
			    	});
			    	myComboCmpyCd2.disable();
			    	
				},	
				comboDcCd2 : function(){		//물류센터유형 콤보
					myComboDcCd2 = new dhtmlXCombo("dcCd2");
			    	comboList(myComboDcCd2,'A','DC_CD','','','Y','req');		     
			    	//myComboDcCd.selectOption(myComboDcCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
			    	myComboDcCd2.selectOption(0);
			    	myComboDcCd2.setFontSize("12px","12px");
			    	myComboDcCd2.attachEvent("onChange", function(value, text){
			    	
			    	
			    	});
				},	
	
			},	//END of comboOpen
			gridOpen : {
				grid : function()
				{
					myGrid.setImagePath("https://cdn.dhtmlx.com/edge/skins/terrace/imgs/");
					myGrid.setHeader("#master_checkbox,CUD,맵핑여부,우편-물류맵핑 고유ID,회사코드,물류센터코드,물류센터명칭,우편번호 고유ID,우편번호,시/도,구/군,동,리,번지,호,도로명,메모,저장자,저장일,수정자,수정일"); 
					myGrid.setColumnIds("chk,cud,chkYn,tblLgstDcpostMId,cmpyCd,dcCd,dcNm,tblPostMId,postCd,sidoNm,siguNm,dngNm,riNm,bunji,ho,roadNm,memo,saveUser,saveTime,updtUser,updtTime");
					myGrid.setInitWidths("40,40,80,100,100,100,160,80,80,120,120,120,120,80,80,160,200,80,160,80,160");
					myGrid.setColAlign("center,center,center,center,center,left,center,center,center,center,center,center,center,center,center,center,left,left,left,left,left");
					myGrid.setColTypes("ch,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro");
					myGrid.setColSorting(",,,str,str,str,str,str,str,str,str,str,str,str,str,str,,str,str,str,str");
					myGrid.attachHeader(",,,,#text_filter,#text_filter,#text_filter,,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,,,,,");

					myGrid.init();		//이걸써야 세팅한 그리드가 표시가 된다
					myGrid.enableSmartRendering(true);	//스마트렌더링기능 가능	//데이터를 많이 구했더라도 제일 처음 에는 화면 크기에 나올수있을만큼만 보여준다. 스크롤을 움직이면 그떄 갖고있던 데이터들을 그려주기 시작한다
					myGrid.enablePreRendering(10);

					fnObj.gridOpen.setWidth();
																								//그래야 진짜 화면에 보이는 높이가 만들어진다
					myGrid.addRow(1,"");	//로우 추가
					//myGrid.setRowData(1,{	"commCd":""});	//처음에 빈 로우 1개를 보여준다 (좌우 스크롤 보여줄려고)
					myGrid.deleteRow(1);
					
					myGrid.attachEvent("onRowDblClicked", function(rId,cInd){
						
						var leftParam = myGrid.getRowData(rId);
						
						console.log("leftParam.tblLgstDcMId : " + leftParam.tblLgstDcMId);
					    fnObj.winOpen.save('UPDT',leftParam.tblLgstDcMId)
					});
	

				},//grid
				setWidth : function(){
					c_width =  top.myLayout.cells("c").getWidth();
					searchDiv_height =  $("#searchDiv").height();
					searchDiv2nd_height =  $("#searchDiv2nd").height();
					page_height =  $("#page").height();
					xhdr_height =  $(".xhdr").height();
					
					myGrid.enableAutoWidth(true,c_width-25,100);
					myGrid.enableAutoHeight(true,window.innerHeight-searchDiv_height-searchDiv2nd_height-page_height-xhdr_height-30);	//그리드 자동높이
					
					
					$("#searchDiv").width(c_width-25);
					$("#searchDiv2nd").width(c_width-25);
					
				},	//END of setWidth
			},	//END of gridOpen
			searchOpen : {
				searchBtn : {	//검색영역의 버튼
					search : function() {	//그리드 목록
						myGrid.clearAll(false);
						myGrid.detachEvent(myGridnOCellChanged);
					
						if(!fnObj.searchOpen.searchChkVal.chkVal("search"))
						{
							alert(chkValMsg);
							return false;
						}
						
						var srchData = new FormData();
						srchData.append("cmpyCd"		,myComboCmpyCd.getSelectedValue());
						srchData.append("dcCd"		,myComboDcCd.getSelectedValue());
						srchData.append("sidoNm"		,myComboSido.getSelectedValue());
						srchData.append("siguNm"		,myComboSigu.getSelectedValue());
						srchData.append("postCd"		,$("#postCd").val());
						srchData.append("useYn"		,	myComboMappingYn.getSelectedValue());
			
						$.ajax({
					        url: "/erp203001List",
					        processData : false,
							contentType : false,
					        data: srchData,
					        type:"POST",
					        datatype:"json",
					        //async:false,
					        success : function(res){
					        	
					        	if(res){
					        		//console.log(res);	
					        		//console.log(1)
					        		searchRes = res;
					        		searchPaging(1);
									
					        	
									myGridnOCellChanged = myGrid.attachEvent("onCheck", function(rId,cInd,nValue){
								console.log(rId+","+cInd+","+nValue)
				        	       		var columnId = 	myGrid.getColumnId(cInd);
			        	       						        	       		
				        	       		
				        		        					        				
				        				if(columnId == "chk"){	//컬럼 아이디가 체크면
				        					
				        					
				        				
				        					//체크하는곳이 바뀌었으면 CUD를 U 로 표시한다
				        					myGrid.cellById(rId,myGrid.getColIndexById("cud")).setValue("U");
				        					if(nValue){	//체크가되어있으면 조건 체크
				        						if(!fnObj.searchOpen.searchChkVal.chkVal("mappingBtn"))
					        					{
					        						alert(chkValMsg);
					        						myGrid.cellById(rId,myGrid.getColIndexById("chk")).setValue("0")
					        						if(myGrid.cellById(rId,myGrid.getColIndexById("chkYn")).getValue() == "N")
					        						{
					        							myGrid.cellById(rId,myGrid.getColIndexById("cud")).setValue("")
					        						}
					        						
					        						return false;
					        					}	
				        						myGrid.cellById(rId,myGrid.getColIndexById("cmpyCd")).setValue(myComboCmpyCd2.getSelectedValue());
				        						myGrid.cellById(rId,myGrid.getColIndexById("dcCd")).setValue(myComboDcCd2.getSelectedValue());
				        						myGrid.cellById(rId,myGrid.getColIndexById("dcNm")).setValue(myComboDcCd2.getSelectedText());

				        					}
				        					else{
				        						if(myGrid.cellById(rId,myGrid.getColIndexById("chkYn")).getValue() == "N")
				        						{
				        							myGrid.cellById(rId,myGrid.getColIndexById("cud")).setValue("")
				        						}
				        					
			        							myGrid.cellById(rId,myGrid.getColIndexById("cmpyCd")).setValue("");
			        							myGrid.cellById(rId,myGrid.getColIndexById("dcCd")).setValue("");
			        							myGrid.cellById(rId,myGrid.getColIndexById("dcNm")).setValue("");
			        						
				        					}
				        				}
				        			});
					        		
									
					        	}
					        	else{
					       			alert("우편번호-권역관리 조회 수행 결과 없음");
					        	}
					        	
					        },
						});
						
					},	//END of search : function() {
				},	//END of searchBtn
				mappingBtn : function() {	//물류센터맵핑하기 버튼
					if(!fnObj.searchOpen.searchChkVal.chkVal("mappingBtn"))
					{
						alert(chkValMsg);
						return false;
					}
					var mappingData=[];
					var myGridData = get_cud_json(myGrid);
					for(var i=0;i<myGridData.length;i++)
					{
						if(	myGridData[i].chk == "1" && myGridData[i].cud == "U" 
							
							//(myGridData[i].chk == "1" && myGridData[i].cud == "U" && myGridData[i].chkYn == "N")	||
							//(myGridData[i].chk == "0" && myGridData[i].cud == "U" && myGridData[i].chkYn == "Y")	
						)		//cud 가 바뀐것 중에 체크를 했으면서 U 인것만
						{
							myGridData[i].saveUser = /*[[${session.tblUserMId}]]*/
						
							mappingData.push(myGridData[i])
						}
					
					}
					console.log(JSON.stringify(mappingData));
				
					$.ajax({
				        url: "/erp203001Save",
				        processData : false,
						//contentType : false,
						contentType : "application/json",	//데이터를 어레이 json으로 보낼때에는 contentType : "application/json" 를 붙인다
				        data: JSON.stringify(mappingData),
				        type:"POST",
				        datatype:"json",
				        //async:false,
				        success : function(res){
				        	
				     
				        	if(res){
				        		console.log(res);
				        		var rtnYnCnt=0;
				        		for(var i=0;i<res.length;i++)
				        		{
				        			if(res[i].rtnYn == "Y")
				        			{
				        				rtnYnCnt++;
				        			}
				        		}
				        		alert(res.length +" 중 " + rtnYnCnt+" 건 성공");
				        		fnObj.searchOpen.searchBtn.search();
				        		
				        	}
				        	else{
				       			alert("권역매핑저장 수행 결과 없음");
				        	}
				        	
				        },
					});
					
					
				},	//END of mappingBtn : function() {
		
				mappingDelBtn : function() {	//권역맵핑삭제하기 버튼
					
					var mappingDeleteData=[];
					var myGridDataDel = get_cud_json(myGrid);
					for(var i=0;i<myGridDataDel.length;i++)
					{
						if(	myGridDataDel[i].chk == "0" && myGridDataDel[i].cud == "U" && myGridDataDel[i].chkYn == "Y"
								//매핑한걸Y 체크해제해0 U가 되었을때
							
							//(myGridData[i].chk == "1" && myGridData[i].cud == "U" && myGridData[i].chkYn == "N")	||
							//(myGridData[i].chk == "0" && myGridData[i].cud == "U" && myGridData[i].chkYn == "Y")	
						)		//cud 가 바뀐것 중에 체크를 했으면서 U 인것만
						{
							myGridDataDel[i].saveUser = /*[[${session.tblUserMId}]]*/
						
								mappingDeleteData.push(myGridDataDel[i])
						}
					
					}
					console.log(JSON.stringify(mappingDeleteData));
				
					$.ajax({
				        url: "/erp203001Delete",
				        processData : false,
						//contentType : false,
						contentType : "application/json",	//데이터를 어레이 json으로 보낼때에는 contentType : "application/json" 를 붙인다
				        data: JSON.stringify(mappingDeleteData),
				        type:"POST",
				        datatype:"json",
				        //async:false,
				        success : function(res){
				        	
				     
				        	if(res){
				        		console.log(res);
				        		var rtnYnCnt=0;
				        		for(var i=0;i<res.length;i++)
				        		{
				        			if(res[i].rtnYn == "Y")
				        			{
				        				rtnYnCnt++;
				        			}
				        		}
				        		alert(res.length +" 중 " + rtnYnCnt+" 건 성공");
				        		fnObj.searchOpen.searchBtn.search();
				        		
				        	}
				        	else{
				       			alert("권역매핑저장 수행 결과 없음");
				        	}
				        	
				        },
					});
					
					
				},	//END of mappingDelBtn : function() {
			searchChkVal : {
				chkVal : function(chkGubn){
					chkValMsg="";	//메세지 초기화
					var rtnVal = true;
					
					if(chkGubn == "search")
					{
						if(!myComboCmpyCd.getSelectedValue()){
							chkValMsg = chkValMsg + "회사코드가 없습니다\n";
							rtnVal = false;
						}
						
						if(!myComboDcCd.getSelectedValue()){
							chkValMsg = chkValMsg + "물류센터를 선택하세요\n";
							rtnVal = false;
						}
						/* if(!myComboSido.getSelectedValue()){
							chkValMsg = chkValMsg + "시/도를 선택하세요\n";
							rtnVal = false;
						} */
						/*
						if(!myComboSigu.getSelectedValue()){
							chkValMsg = chkValMsg + "구/군을 선택하세요\n";
							rtnVal = false;
						}
						*/
					}
					if(chkGubn == "mappingBtn")
					{
						if(myGrid.getRowsNum() == 0)
						{
							chkValMsg = chkValMsg + "조회를 하세요\n";
							rtnVal = false;
						}
						
						if(!myComboCmpyCd2.getSelectedValue()){
							chkValMsg = chkValMsg + "물류센터맵팽의 회사코드가 없습니다\n";
							rtnVal = false;
						}
						
						if(!myComboDcCd2.getSelectedValue()){
							chkValMsg = chkValMsg + "물류센터맵팽의 물류센터을 선택하세요\n";
							rtnVal = false;
						}
						
						

					
					}
					return rtnVal;
				},	//END of chkVal : function(){
			},	//END of searchChkVal
		},	//END of searchOpen
	}


	//엑셀 헨들러
	var excelHandler = {
	    getExcelFileName : function(){
	        return '우편번호-물류센터.xlsx';		//엑셀파일명
	    },
	    getSheetName : function(){
	        return '우편번호-물류센터';		//시트명
	    },
	    getExcelData : function(){
	        return	get_json_for_excel(myGrid);		//그리드를 엑셀다운로드dyd json 으로 변경
	    },
	    getWorksheet : function(){
	        return XLSX.utils.json_to_sheet(this.getExcelData());
	    }
	}
	function searchPaging(page)
	{
		
		//pagePerRow	=	15;	//페이지당 몇줄을 보여줄것인가

		if($("#rowPerPage").val())
		{
			pagePerRow = parseInt($("#rowPerPage").val());
		}
console.log(pagePerRow)
		var pageRange	=	10;	//페이지범위를 몇개씩짜를것인가. 예) 23페이지 라면 1 2 3 4 5 6 7 8 9 10  이 한번 나오고 >> 누르면 11 12 13 14 15 16 17 18 19 20 나오고 >> 누르면 21 22 23 나옴
		
		var totalPageCnt	=	searchRes.length % pagePerRow == 0 ? parseInt(searchRes.length / pagePerRow) : parseInt(searchRes.length / pagePerRow) + 1

		var a="";

		//패이징 처리 
		var start=(page-1);
		var end  = (page-1)+pageRange;

		if(start%pageRange != 0)
		{
			start = parseInt(start/pageRange)*pageRange ;
		}

		if(end%pageRange !=  0 || page == 1)
		{
			end = parseInt(end/pageRange)*pageRange;
		}

		if(start >= pageRange)
		{
			a=a +	"<input type='button' onclick='searchPaging("+1+");' value='<<'></input>";
			a=a +	"<input type='button' onclick='searchPaging("+(start -1)+");' value='<'></input>";
		}

		var r=0;
		
		for(r=start;r<end;r++)
		{
			if(r < totalPageCnt)
			{
				if(r+1 == page)		//현재페이지 강조
				{
					a=a+"<input type='button' onclick='searchPaging("+(r+1)+");' style='color:red;font-weight:bold;' value="+(r+1)+"></input>";
				}
				else
				{
					a=a+"<input type='button' onclick='searchPaging("+(r+1)+");' value="+(r+1)+"></input>";
				}
			}
		}

		if(end*pagePerRow  < searchRes.length )
		{
			a=a +	"<input type='button' onclick='searchPaging("+(end+1)+");' value='>'></input>";
			a=a +	"<input type='button' onclick='searchPaging("+totalPageCnt+");' value='>>'></input>";
		}

		a=a+"&nbsp;&nbsp;<input type='number' maxlength=4 style='width:60px;' id='rowPerPage' value="+pagePerRow+"></input><input type='button' value='적용' onclick='searchPaging("+1+");'></input>";
		a=a+"&nbsp;&nbsp;<i class='fa fa-calculator fa-lg' aria-hidden='true'></i>&nbsp;" + searchRes.length; 
		$("#page").html(a);

		var is=(page-1)*pagePerRow;	//시작점
		var ie=(page-1)*pagePerRow+pagePerRow;	//종료점

		if(searchRes.length < ie)
		{
			ie = searchRes.length;

		}

		myGrid.clearAll(false);
		//myGrid.detachEvent(myGridnOCellChanged);
var columns = myGrid.getColumnCount()
		for(var i=is;i<ie;i++){
			
    			
    			var jsonData = {};
    			for (var c=0; c<columns; c++){ 
    				if(myGrid.getColumnId(c) == "chk")
    				{
    					if(searchRes[i]["chkYn"] == "Y")
    					{
    						jsonData["chk"] = 1;
    					}
    				}
    				else
    				{	
    					jsonData[myGrid.getColumnId(c)] = searchRes[i][myGrid.getColumnId(c)];
    				}
        		}
    			
    			myGrid.addRow(i+1,"");	//로우 추가	//로우는 1부터 시작해야함. 0부터 시작하면 안됨. 그래서 i 에 1을 더함
    			myGrid.setRowData(i+1,jsonData);
      		
			
		}
	}			
			
/* $(document).ready(function() {
	console.log(pageUrl());

	myWins = new dhtmlXWindows();
	
	myGrid = new dhtmlXGridObject('grid');	//그리드
	
	fnObj.comboOpen.comboCmpyCd();	//회사콤보 바인드
	fnObj.comboOpen.comboDcCd();	//권역유형콤보 바인드

	fnObj.comboOpen.comboSido();	//시도콤보 바인드
	fnObj.comboOpen.comboSigu();	//구군콤보 바인드
	fnObj.comboOpen.comboMappingYn();	//매핑여부 콤보 바인드
	
	
	fnObj.comboOpen.comboCmpyCd2();	//회사콤보 바인드
	fnObj.comboOpen.comboDcCd2();	//권역유형콤보 바인드

	
		
	//myComboCmpyCd.selectOption(myComboCmpyCd.getIndexByValue('A'));		//A고정
	
	
	fnObj.gridOpen.grid()

	
	
	window.onresize = function(event) {		//윈도우의 사이즈가 변경했을떄
		fnObj.gridOpen.setWidth();
		fnObj.gridOpen.setWidth();
	};

});
 */

</script>
</head>
<!--  맵 키    40baa0c982c8509c9c2c67b1282f2b3b	 -->

<!-- top , left, bottom , right,  -->
<body>
	<div id="map" style="width:100%;height:90%;"></div>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=40baa0c982c8509c9c2c67b1282f2b3b&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 6 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 
var locPosition,message;
var lat,lon;
//HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
         lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
            
           locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
           //message = '<div style="padding:5px;">위치</div>'; // 인포윈도우에 표시될 내용입니다
           message = null;
          //displayMarker(locPosition, message); 
         
           map.setCenter(locPosition);      
    } );
   

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
     locPosition = new kakao.maps.LatLng(33.450701, 126.570667),  
        message = '현재위치를 사용할수 없습니다';
        
   //displayMarker(locPosition, message); 	//지도에 마커와 인포윈도우를 표시하는 함수입니다
     map.setCenter(locPosition);      		//지도를 위치를 중심으로 이동
}



//지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition
    }); 
    
    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });
    
    // 인포윈도우를 마커위에 표시합니다 
    if(message)
    {
    	infowindow.open(map, marker);
    }
    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);      
}    


var addr =[		{'addr':'인천 계양구 황어로115번길 12 오류동 신동아아파트 5동 1202호','type':'1'}
			,	{'addr':'인천 계양구 다남로 24','type':'2'}
			,	{'addr':'인천 계양구 장제로 1136','type':'3'}
			,	{'addr':'경기 김포시 풍무로68번길 44 303호','type':'4'}
			]
			


// 주소-좌표 변환 객체를 생성합니다

var positions=[];
var inner={};
var geocoder = new kakao.maps.services.Geocoder();	


var markers = [];

var infowindow;
var marker;


/*  var callback = function(result, status) {



	   if (status === kakao.maps.services.Status.OK) {
		  	if(result.length == 1) 
	   		{
	  		var 	resultValue = result[0]

		  		inner.latlng =  new kakao.maps.LatLng(resultValue.y, resultValue.x);
		  		inner.content = "<div style='width:150px;text-align:center;padding:6px 0;font-size:0.7em;'>"+addr[i]+"</div>";
		  		
		  		
		  		positions.push(inner);
		  		inner = {};
		  		
			}
	    }

} */


	addr.forEach(function(address,index){

		geocoder.addressSearch(addr[index].addr, function(result, status) {

			   if (status === kakao.maps.services.Status.OK) {
				  	if(result.length == 1) 
			   		{
			  			var 	resultValue = result[0]
				  		inner.latlng =  new kakao.maps.LatLng(resultValue.y, resultValue.x);
				  		inner.content = "<div id='content"+index+"'style='width:150px;text-align:center;padding:6px 0;font-size:0.7em;'>유형:"+addr[index].type+ ", 주소" +addr[index].addr+"</div>";

				  		var imageUrl ="";
				  		if(addr[index].type == "1")
				  		{
				  			imageUrl = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png'; // 마커이미지의 주소입니다   
				  		}
				  		if(addr[index].type == "2")
				  		{
				  			imageUrl = 'https://kr.seaicons.com/wp-content/uploads/2015/06/Maps-Location-icon.png'; // 마커이미지의 주소입니다   
				  		}
			  			if(addr[index].type == "3")
				  		{
				  			imageUrl = 'https://cdn.icon-icons.com/icons2/2104/PNG/512/map_location_icon_129048.png'; // 마커이미지의 주소입니다   
				  		}
			  			if(addr[index].type == "4")
				  		{
				  			imageUrl = 'https://kr.seaicons.com/wp-content/uploads/2017/02/Clock-icon.png'; // 마커이미지의 주소입니다   
				  		}
				  		imageSrc = imageUrl,
				        imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
				        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
				          
					    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
					    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
					    
					    inner.markerImage = markerImage;
				  		
				  		positions.push(inner);
				  		inner = {};
				  		
					}
			   }
		 });
	});



    
    
    
// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}


function onLoadMap() {
	for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
    }
    //console.log("onLoadMap");
    console.log(positions)
    for(var i=0;i<positions.length;i++)
    {

    	
    	
    
    	marker =  new kakao.maps.Marker({
	        map: map, // 마커를 표시할 지도
	        position:  positions[i].latlng,// 마커의 위치
	        image : positions[i].markerImage
	        
	    });
        
	    markers.push(marker);
	    
    	infowindow = new kakao.maps.InfoWindow({
    	    content: positions[i].content // 인포윈도우에 표시할 내용
    	});
    	
    	kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    	kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
	    if (i==0)
	    {
	    	map.setCenter(positions[i].latlng); 
	    }
    }
 
}



</script>
	<div id="mainDiv"  style="padding:10px 10px 0 10px;" >
		<input type="button" onclick="onLoadMap();" value="버튼"></input>
	</div>

<!-- 
	<div id="mainDiv"  style="padding:10px 10px 0 10px;" >
		<div id="searchDiv" style="width:100%;font-size:12px;padding-bottom:5px;">
			<div id="btnDiv1" style="width:100%;">
				<span class="cell" style="float:right;">
					<span class="item-data" style="padding: 0 0 0 20px;"><input id="btnHistory" type="button" onclick="fnObj.searchOpen.searchBtn.search()" value="조회"></span>
					<span class="item-data" style="padding: 0 0 0 20px;"><input id="btnExcelDown" type="button" onclick="exportExcel();" value="엑셀다운로드"></span>
				</span>
			</div>
			<div id="searchDiv1" style="width:100%;">
			<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">회사</span>
					<span class="item-data" style="width:140px;"><div id="cmpyCd" ></div></span>
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">물류센터</span>
					<span class="item-data" style="width:140px;"><div id="dcCd" ></div></span>
				</span>
				
				
				
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">매핑여부</span>
					<span class="item-data" style="width:140px;"><div id="mappingYn"></div></span>
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">시/도</span>
					<span class="item-data" style="width:140px;"><div id="sido"></div></span>
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">구/군</span>
					<span class="item-data" style="width:140px;"><div id="sigu"></div></span>
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">우편번호</span>
					<span class="item-data" style="width:140px;"><input type="text" id="postCd" name="postCd" style="height:20px;width:132px;"></input></span>
				</span>
			</div>
			
			
		</div>
		
		<div id="searchDiv2nd" style="width:100%;font-size:12px;padding-bottom:5px;background-color: papayawhip;">
			<div id="btnDiv2nd1" style="width:100%;">

				<span class="cell" style="float:right;">
					<span class="item-data" style="padding: 0 0 0 20px;"><input id="btnSave2" type="button" onclick="fnObj.searchOpen.mappingBtn()" value="물류센터맵핑저장"></span>
					<span class="item-data" style="padding: 0 0 0 20px;"><input id="btnSave3" type="button" onclick="fnObj.searchOpen.mappingDelBtn()" value="물류센터맵핑삭제"></span>
				</span>
			</div>
			<div id="searchDiv2nd1" style="width:100%;">
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:220px;">물류센터맵핑 저장/삭제</span>
					
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">회사</span>
					<span class="item-data" style="width:140px;"><div id="cmpyCd2" ></div></span>
				</span>
				<span class="cell" style="width:220px;">
					<span class="item-head" style="width:80px;">물류센터</span>
					<span class="item-data" style="width:140px;"><div id="dcCd2" ></div></span>
				</span>
				
				
			</div>
		</div>
		
		
		<div id="gridDiv"  style="width:100%;font-size:12px;padding-bottom:5px;">
			<div id="grid" style="width:25%;height:100%;"></div>
		</div>
		<div id="page" style="width:100%;height:30px;"></div>
	</div> -->
</body>
</html>
