<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>
얼라이언스
</title>
<head>
<!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
	<link rel="icon" href="/css/favicon.ico" type="image/x-icon" sizes="16x16">
  	<script src="https://code.jquery.com/jquery-3.5.1.min.js"  crossorigin="anonymous"></script>


</head>

<script th:inline="javascript">

$(document).ready(function() {
	
	/*<![CDATA[*/ 
		 var errorVal= /*[[ ${param.error} ]]*/ ;
	/*]]*/

	if(errorVal == null)	//에러가 아니다
	{
		top.location.href = './login';
	}
	else		//에러다
	{
		top.location.href = './login?error='+ errorVal;
	}
	
});
</script>
<body>

</body>
</html>