<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sonictms.alsys.erp.erp105005.mapper.Erp105005Mapper">

    <!-- 교환/반품 재입고 목록 조회 -->
    <select id="erp105005List" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO"
            resultType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        SELECT DISTINCT
        SP.TBL_SO_P_ID AS TBL_RETURN_INBOUND_ID,
        SP.TBL_SO_M_ID,
        ISNULL(SP.IS_OUTBOUND_TARGET, 'Y') AS OUTBOUND_TARGET_YN,
        ISNULL(SP.YONGIN_INBOUNDED, 'N') AS INBOUND_YN,
        SP.YONGIN_INBOUND_DT AS INBOUND_DT,
        SP.YONGIN_INBOUND_REMARK AS INBOUND_REMARK,
        ISNULL(SP.AGENCY_OUTBOUNDED, 'N') AS OUTBOUND_YN,
        SP.AGENCY_OUTBOUND_DT AS OUTBOUND_DT,
        SP.AGENCY_OUTBOUND_REMARK AS OUTBOUND_REMARK,
        DC.DC_NM,
        SM.SO_NO,
        SM.REF_SO_NO,
        DBO.F_COL_NM('A', 'COMM', 'SO_ORDR_TYPE', SM.SO_TYPE) AS SO_TYPE_NM,
        DBO.F_COL_NM('A', 'COMM', 'SO_STAT_CD', SM.SO_STAT_CD) AS SO_STAT_CD_NM,
        SM.DLVY_CNFM_DT,
        UM.USER_NM AS INST_ER,
        AG.AGNT_NM,
        SM.ACPT_ER,
        SP.PROD_CD,
        SP.PROD_NM,
        SP.QTY AS RETURN_QTY,
        SP.YONGIN_INBOUND_USER AS INBOUND_USER,
        SP.AGENCY_OUTBOUND_USER AS OUTBOUND_USER,
        SM.POST_CD,
        SM.ADDR1,
        SM.ACPT_TEL1,
        SM.SAVE_TIME,
        SM.DC_CD,
        SM.AGNT_CD
        FROM TBL_SO_P SP
        INNER JOIN TBL_SO_M SM ON SP.TBL_SO_M_ID = SM.TBL_SO_M_ID
        LEFT JOIN TBL_MTRL_M PM ON SP.PROD_CD = PM.MTRL_CD
        LEFT JOIN TBL_AGENCY_M AG ON SM.AGNT_CD = AG.AGNT_CD
        LEFT JOIN TBL_LGST_DC_M DC ON SM.DC_CD = DC.DC_CD
        LEFT JOIN TBL_INST_PLAN_M IP ON SM.TBL_SO_M_ID = IP.TBL_SO_M_ID
        LEFT JOIN TBL_USER_M UM ON IP.TBL_USER_M_ID = UM.TBL_USER_M_ID
        WHERE 1=1
        AND SM.SO_STAT_CD NOT IN ('0000', '1900')
        AND SP.USE_YN = 'Y'
        AND SM.SO_TYPE IN ('2000', '3200', '4200', '9903', '9906', '6000')
        AND (PM.EXCHANGE_RETURN_EXCLUDE_YN IS NULL OR PM.EXCHANGE_RETURN_EXCLUDE_YN = 'N')
        AND (AG.AGNT_NM IS NULL OR PATINDEX('%[가-힣]%', AG.AGNT_NM) > 0) -- 한글이 포함된 화주사명만 조회
        <if test="fromDt != null and fromDt != ''">
            <choose>
                <when test="dtType != null and (dtType == '1' or dtType == 1)">
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </when>
                <when test="dtType != null and (dtType == '2' or dtType == 2)">
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </when>
                <when test="dtType != null and (dtType == '3' or dtType == 3)">
                    AND SM.DLVY_CNFM_DT >= #{fromDt}
                </when>
                <otherwise>
                    AND SM.ORDR_INPT_DT >= #{fromDt}
                </otherwise>
            </choose>
        </if>
        <if test="toDt != null and toDt != ''">
            <choose>
                <when test="dtType != null and (dtType == '1' or dtType == 1)">
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </when>
                <when test="dtType != null and (dtType == '2' or dtType == 2)">
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </when>
                <when test="dtType != null and (dtType == '3' or dtType == 3)">
                    AND SM.DLVY_CNFM_DT &lt;= #{toDt}
                </when>
                <otherwise>
                    AND SM.ORDR_INPT_DT &lt;= #{toDt}
                </otherwise>
            </choose>
        </if>
        <if test="agntList != null and agntList != ''">
            AND SM.AGNT_CD IN
            <foreach collection="agntList.split(',')" item="agnt" open="(" close=")" separator=",">
                #{agnt}
            </foreach>
        </if>
        <if test="dcList != null and dcList != ''">
            AND SM.DC_CD IN
            <foreach collection="dcList.split(',')" item="dc" open="(" close=")" separator=",">
                #{dc}
            </foreach>
        </if>
        <if test="soList != null and soList != ''">
            AND SM.SO_NO IN
            <foreach collection="soList.split(',')" item="so" open="(" close=")" separator=",">
                #{so}
            </foreach>
        </if>
        <if test="soTypeList != null and soTypeList != ''">
            AND SM.SO_TYPE IN
            <foreach collection="soTypeList.split(',')" item="soType" open="(" close=")" separator=",">
                #{soType}
            </foreach>
        </if>
        <if test="acptNm != null and acptNm != ''">
            AND SM.ACPT_ER LIKE '%' + #{acptNm} + '%'
        </if>
        <if test="acptTel != null and acptTel != ''">
            AND (SM.ACPT_TEL1 LIKE '%' + #{acptTel} + '%' OR SM.ACPT_TEL2 LIKE '%' + #{acptTel} + '%')
        </if>
        <if test="prodList != null and prodList != ''">
            AND SP.PROD_CD IN
            <foreach collection="prodList.split(',')" item="prod" open="(" close=")" separator=",">
                #{prod}
            </foreach>
        </if>
        <if test="prodNmSrch != null and prodNmSrch != ''">
            AND SP.PROD_NM LIKE '%' + #{prodNmSrch} + '%'
        </if>
        <if test="srchAddr != null and srchAddr != ''">
            AND (SM.ADDR1 LIKE '%' + #{srchAddr} + '%' OR SM.ADDR2 LIKE '%' + #{srchAddr} + '%')
        </if>
        <if test="inboundStatus != null and inboundStatus != '' and inboundStatus != 'ALL'">
            AND ISNULL(SP.YONGIN_INBOUNDED, 'N') = #{inboundStatus}
        </if>
        <if test="outboundStatus != null and outboundStatus != '' and outboundStatus != 'ALL'">
            AND ISNULL(SP.AGENCY_OUTBOUNDED, 'N') = #{outboundStatus}
        </if>
        <if test="outboundTarget != null and outboundTarget != '' and outboundTarget != 'ALL'">
            AND ISNULL(SP.IS_OUTBOUND_TARGET, 'Y') = #{outboundTarget}
        </if>
        ORDER BY SM.SAVE_TIME DESC
    </select>

    <!-- 재입고 완료 처리 -->
    <update id="erp105005InboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET YONGIN_INBOUNDED   = 'Y',
            YONGIN_INBOUND_DT   = #{processDt},
            YONGIN_INBOUND_USER = #{processUser},
            YONGIN_INBOUND_TIME = GETDATE(),
            UPDT_USER    = #{processUser},
            UPDT_TIME    = GETDATE()
        WHERE TBL_SO_P_ID = #{tblReturnInboundId}
    </update>

    <!-- 반출 완료 처리 -->
    <update id="erp105005OutboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET AGENCY_OUTBOUNDED   = 'Y',
            AGENCY_OUTBOUND_DT   = #{processDt},
            AGENCY_OUTBOUND_USER = #{processUser},
            AGENCY_OUTBOUND_TIME = GETDATE(),
            UPDT_USER     = #{processUser},
            UPDT_TIME     = GETDATE()
        WHERE TBL_SO_P_ID = #{tblReturnInboundId}
    </update>

    <!-- 일괄 재입고 완료 처리 -->
    <update id="erp105005BatchInboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET YONGIN_INBOUNDED = 'Y',
            YONGIN_INBOUND_DT = #{processDt},
            YONGIN_INBOUND_USER = #{processUser},
            YONGIN_INBOUND_TIME = GETDATE(),
            YONGIN_INBOUND_REMARK = #{inboundRemark},
            UPDT_USER = #{processUser},
            UPDT_TIME = GETDATE()
        WHERE TBL_SO_P_ID IN
        <foreach collection="selectedIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 일괄 반출 완료 처리 -->
    <update id="erp105005BatchOutboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET AGENCY_OUTBOUNDED = 'Y',
            AGENCY_OUTBOUND_DT = #{processDt},
            AGENCY_OUTBOUND_USER = #{processUser},
            AGENCY_OUTBOUND_TIME = GETDATE(),
            AGENCY_OUTBOUND_REMARK = #{outboundRemark},
            UPDT_USER = #{processUser},
            UPDT_TIME = GETDATE()
        WHERE TBL_SO_P_ID IN
        <foreach collection="selectedIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 반출 대상 여부 변경 -->
    <update id="erp105005ToggleOutboundTarget" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET IS_OUTBOUND_TARGET = #{outboundTargetYn},
            UPDT_USER = #{processUser},
            UPDT_TIME = GETDATE()
        WHERE TBL_SO_P_ID IN
        <foreach collection="selectedIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 입고완료 되돌리기 처리 -->
    <update id="erp105005RevertInboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET YONGIN_INBOUNDED = 'N',
            YONGIN_INBOUND_DT = NULL,
            YONGIN_INBOUND_USER = NULL,
            YONGIN_INBOUND_TIME = NULL,
            YONGIN_INBOUND_REMARK = CONCAT(ISNULL(YONGIN_INBOUND_REMARK, ''),
                CASE WHEN YONGIN_INBOUND_REMARK IS NOT NULL AND YONGIN_INBOUND_REMARK != '' THEN ' | ' ELSE '' END,
                '[되돌리기] ', #{revertRemark}, ' (', #{processUser}, ', ', FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss'), ')'),
            UPDT_USER = #{processUser},
            UPDT_TIME = GETDATE()
        WHERE TBL_SO_P_ID IN
        <foreach collection="selectedIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND YONGIN_INBOUNDED = 'Y'  -- 입고완료된 것만 되돌리기
    </update>

    <!-- 반출완료 되돌리기 처리 -->
    <update id="erp105005RevertOutboundComplete" parameterType="com.sonictms.alsys.erp.erp105005.entity.Erp105005VO">
        UPDATE TBL_SO_P
        SET AGENCY_OUTBOUNDED = 'N',
            AGENCY_OUTBOUND_DT = NULL,
            AGENCY_OUTBOUND_USER = NULL,
            AGENCY_OUTBOUND_TIME = NULL,
            AGENCY_OUTBOUND_REMARK = CONCAT(ISNULL(AGENCY_OUTBOUND_REMARK, ''),
                CASE WHEN AGENCY_OUTBOUND_REMARK IS NOT NULL AND AGENCY_OUTBOUND_REMARK != '' THEN ' | ' ELSE '' END,
                '[되돌리기] ', #{revertRemark}, ' (', #{processUser}, ', ', FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss'), ')'),
            UPDT_USER = #{processUser},
            UPDT_TIME = GETDATE()
        WHERE TBL_SO_P_ID IN
        <foreach collection="selectedIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND AGENCY_OUTBOUNDED = 'Y'  -- 반출완료된 것만 되돌리기
    </update>

</mapper>
