<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>시공 기사평가 조회 (erp203003)</title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_roboto/roboto.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.dhtmlx.com/edge/fonts/font_awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/skins/web/dhtmlx.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/erp-style.css">
	<script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/commCode.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

	<script th:inline="javascript">
		var pagePerRow =	/*[[${@environment.getProperty('common.html.pagePerRow')}]]*/
	var myWins;
		var myGrid;
		var myGrid2;
		var myCalendar;


		fnObj = {
			winOpen: {
				commSrch: function (title, cmpyCd, srchCtgr, srchInput) {		//공통코드 찾기 팝업
					windowId = "commSrch";
					windowText = title + " commSrch";
					windowUrl = "/commSrch"
					windowLeft = -14400;
					windowTop = -14400;
					windowWidth = 800;
					windowHeight = 600;
					windowsModal = true;
					windowOnClose = function (windowId) {
						return true;
					};
					windowSendObject = {
						cmpyCd: cmpyCd,
						srchCtgr: srchCtgr,
						srchInput: srchInput,
						windowId: windowId,
						srchCd: $("#srchCode").val(),
						srchNm: $("#srchName").val(),
						//srchArea : $("#srchTextArea").val() 
					};

					myWindowsOpen(windowId, windowText, windowUrl, windowLeft, windowTop, windowWidth, windowHeight, windowsModal, windowOnClose, windowSendObject);
					myWins.window(windowId).attachEvent("onClose", function (win) {
						return true;
					});
				},	//END of commSrch : function(){

				rtnObject: function (windowId, rtnObj, srchInput) {	//popup window 에서 주는 리턴을 여기서 처리하고싶은데로 처리함
					if (rtnObj == null) {
						myWins.window(windowId).setPosition(0, 0);
						return;
					}
					if (windowId == "commSrch") {
						if (srchInput == "text") {
							$("#srchCode").val(rtnObj[0].commCd);
							$("#srchName").val(rtnObj[0].commNm);
						}
						else if (srchInput == "textArea") {
							var areaContent = "";
							for (var i = 0; i < rtnObj.length; i++) {
								areaContent = areaContent + rtnObj[i].commCd;
								if (i < rtnObj.length - 1) {
									areaContent = areaContent + "\n";
								}
							}
							$("#srchTextArea").val(areaContent);
						}
					}
				},	//END of rtnObject : function(windowId,rtnObj){
			},	//END of winOpen
			comboOpen: {
				comboCmpyCd: function () {		//회사콤보목록
					myComboCmpyCd = new dhtmlXCombo("cmpyCd");
					comboList(myComboCmpyCd, 'A', 'COMM', 'CMPY_CD', '', 'Y', '');
					myComboCmpyCd.selectOption(myComboCmpyCd.getIndexByValue(/*[[${session.cmpyCd}]]*/));
					myComboCmpyCd.setFontSize("12px", "12px");
					myComboCmpyCd.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
						myGrid2.clearAll(false);
					});
					myComboCmpyCd.disable();
					myComboCmpyCd.readonly(true);
				},

				comboDcCd: function () {		//회사콤보목록
					myComboDcCd = new dhtmlXCombo("dcCd");
					comboList(myComboDcCd, 'A', 'DC_CD', '', '', 'Y', 'req');
					myComboDcCd.selectOption(0);
					myComboDcCd.setFontSize("12px", "12px");
					myComboDcCd.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
						myGrid2.clearAll(false);
						myComboDcInstEr.clearAll();
						comboList(myComboDcInstEr, 'A', 'DC_INST_ER', myComboDcCd.getSelectedValue(), '', 'Y', 'chk');
						myComboDcInstEr.selectOption(0);
					});

					myComboDcCd.readonly(true);
				},

				comboDcInstEr: function () {		//물류센터 콤보
					myComboDcInstEr = new dhtmlXComboFromSelect("dcInstEr");
					//comboList(myComboDcInstEr,'A','DC_INST_ER','','','Y','chk');		     
					myComboDcInstEr.readonly(true);
					myComboDcInstEr.selectOption(0);
					myComboDcInstEr.setFontSize("12px", "12px");
					myComboDcInstEr.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
						myGrid2.clearAll(false);
						if (this.getIndexByValue(value) != 0) {
							this.setChecked(this.getIndexByValue(value), true);
							var c = 0;
							for (var i = 1; i < this.getOptionsCount(); i++) {
								if (this.isChecked(i)) {
									c++;
								}
							}
							this.updateOption("", "", c + "개 선택", "");
							this.selectOption(0);
							this.openSelect();
						}
					});
					myComboDcInstEr.attachEvent("onCheck", function (value, text) {
						if (!value) {		//체크를 한것의 값이 없을때. 즉 제일위에 전체, 또는 선택하세요 를 체크한 것이다
							if (myComboDcInstEr.isChecked(0)) {
								var c = 0;
								for (var i = 1; i < myComboDcInstEr.getOptionsCount(); i++) {
									myComboDcInstEr.setChecked(i, true);
									c++;
								}
								myComboDcInstEr.updateOption("", "", c + "개 선택", "");
								myComboDcInstEr.openSelect();
							}
							if (!myComboDcInstEr.isChecked(0)) {		//전체에 체크를 안했을때
								var c = 0;
								for (var i = 1; i < myComboDcInstEr.getOptionsCount(); i++) {
									myComboDcInstEr.setChecked(i, false);
								}
								myComboDcInstEr.updateOption("", "", c + "개 선택", "");
								myComboDcInstEr.openSelect();
								return;
							}
						}
						else {
							var cnt = 0;

							for (var i = 1; i < myComboDcInstEr.getOptionsCount(); i++) {
								if (myComboDcInstEr.isChecked(i)) {
									cnt++;
								}
							}

							if ((myComboDcInstEr.getOptionsCount() - 1) == cnt) {
								myComboDcInstEr.setChecked(0, true);
							}
							else {
								myComboDcInstEr.setChecked(0, false);
							}

							myComboDcInstEr.updateOption("", "", cnt + "개 선택", "");
							myComboDcInstEr.openSelect();
							return;
						}

					});
				},

				comboTblUserMList: function () {		//시공기사 콤보 목록
					myComboTblUserMList = new dhtmlXCombo("tblUserMList");
					comboList(myComboTblUserMList, 'A', 'INST_ER', '', '', 'Y', 'req');
					myComboTblUserMList.selectOption(0);
					myComboTblUserMList.setFontSize("12px", "12px");
					myComboTblUserMList.attachEvent("onChange", function (value, text) {
						myGrid.clearAll(false);
						myGrid2.clearAll(false);
					});
					myComboTblUserMList.readonly(true);

				},


			},	//END of comboOpen
			gridOpen: {
				grid: function () {
					myGrid.setImagePath("https://cdn.dhtmlx.com/edge/skins/web/imgs/");
					myGrid.setHeader(
						"<span style='float: left;font-weight: bold;font-size:14px;'>고객 응답 결과</span>" +
						",#cspan" +
						",#cspan" +
						",#cspan" +
						",#cspan" +		//5
						",#cspan" +
						",#cspan" +
						",#cspan" +
						",#cspan" +
						",#cspan" +		//10
						",#cspan" +
						",#cspan" +
						",#cspan" +
						",#cspan" +
						",#cspan" +		//15
						",#cspan"
					);
					myGrid.attachHeader(
						"배송일자" +
						",AL오더" +
						",화주사코드" +
						",화주사" +
						",물류센터코드" +		//5
						",물류센터" +
						",배송기사고유ID" +
						",배송기사" +
						",시간약속" +
						",친절매너" +		//10
						",주변정리" +
						",기사만족도" +
						",기타1" +
						",기타2" +
						",고객의견" +		//15
						",고객답변일"
					);
					myGrid.setColumnIds(
						"dlvyCnfmDt" +
						",soNo" +
						",agntCd" +
						",agntNm" +
						",dcCd" +
						",dcNm" +
						",tblUserMId" +
						",userNm" +
						",evalItem1" +
						",evalItem2" +
						",evalItem3" +
						",evalSpcl1" +
						",evalSpcl2" +
						",evalSpcl3" +
						",evalMsg" +
						",saveTime"
					);
					myGrid.setInitWidths(
						"80" +
						",100" +
						",40" +
						",120" +
						",40" +		//5
						",100" +
						",40" +
						",80" +
						",70" +
						",70" +	//10
						",70" +
						",90" +
						",40" +
						",40" +
						",200" +	//15
						",120"
					);
					myGrid.setColAlign(
						"center" +
						",center" +
						",center" +
						",left" +
						",center" +
						",left" +
						",center" +
						",left" +
						",center" +
						",center" +
						",center" +
						",center" +
						",left" +
						",left" +
						",left" +
						",left"
					);
					myGrid.setColTypes(
						"ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro" +
						",ro"

					);

					myGrid.setColSorting(
						"str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str" +
						",str"
					);
					myGrid.attachHeader(
						"#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter"
					);

					myGrid.setColumnHidden(myGrid.getColIndexById("agntCd"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("dcCd"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("tblUserMId"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("evalSpcl2"), true);	//컬럼 아이디로 해당 컬럼 가리기
					myGrid.setColumnHidden(myGrid.getColIndexById("evalSpcl3"), true);	//컬럼 아이디로 해당 컬럼 가리기 

					myGrid.init();		//이걸써야 세팅한 그리드가 표시가 된다

					myGrid.enableSmartRendering(true);	//스마트렌더링기능 가능	//데이터를 많이 구했더라도 제일 처음 에는 화면 크기에 나올수있을만큼만 보여준다. 스크롤을 움직이면 그떄 갖고있던 데이터들을 그려주기 시작한다
					myGrid.enablePreRendering(10);	//20220423 정연호 추가
					fnObj.gridOpen.setWidth();
					//그래야 진짜 화면에 보이는 높이가 만들어진다
					myGrid.addRow(1, "");	//로우 추가
					myGrid.deleteRow(1);

					myGrid.enableEditEvents(true, false, false);	//이걸쓰면 로우의 onRowDblClicked 이벤트 때문에 onEditCell 이벤트가 안되는것을 막을수 있다	//클릭, 더블클릭,F2
					myGrid.enableBlockSelection(true);

					myGrid.attachEvent("onKeyPress", fnObj.keyOpen.onKeyPressed);

					myGrid.attachEvent("onRowSelect", function (rId, cInd) {	//현재 선택한 로우 1개를 대상으로

					});

					myGrid.attachEvent("onRowDblClicked", function (rId, cInd) {

					});
				},//grid




				grid2: function () {
					myGrid2.setImagePath("https://cdn.dhtmlx.com/edge/skins/terrace/imgs/");
					myGrid2.setHeader(
						"<span style='float: left;font-weight: bold;font-size:14px;'>고객 응답률</span>" +
						",#cspan" +
						",#cspan" +
						",#cspan"

					);
					myGrid2.attachHeader(
						"배송완료일" +
						",오더수(기사평가)" +
						",응답건수" +
						",응답률(%)"

					);
					myGrid2.setColumnIds(
						"dlvyCnfmDt" +
						",ordrCnt" +
						",rspdCnt" +
						",rspdRate"

					);
					myGrid2.setInitWidths(
						"90" +
						",120" +
						",70" +
						",80"

					);
					myGrid2.setColAlign(
						"center" +
						",center" +
						",center" +
						",center"

					);
					myGrid2.setColTypes(
						"ro" +
						",ro" +
						",ro" +
						",ro"
					);

					myGrid2.setColSorting(
						"str" +
						",str" +
						",str" +
						",str"
					);
					myGrid2.attachHeader(
						"#text_filter" +
						",#text_filter" +
						",#text_filter" +
						",#text_filter"

					);

					myGrid2.init();		//이걸써야 세팅한 그리드가 표시가 된다

					myGrid2.enableSmartRendering(true);	//스마트렌더링기능 가능	//데이터를 많이 구했더라도 제일 처음 에는 화면 크기에 나올수있을만큼만 보여준다. 스크롤을 움직이면 그떄 갖고있던 데이터들을 그려주기 시작한다
					myGrid2.enablePreRendering(10);	//20220423 정연호 추가
					fnObj.gridOpen.setWidth();
					//그래야 진짜 화면에 보이는 높이가 만들어진다
					myGrid2.addRow(1, "");	//로우 추가
					myGrid2.deleteRow(1);

					myGrid2.enableEditEvents(true, false, false);	//이걸쓰면 로우의 onRowDblClicked 이벤트 때문에 onEditCell 이벤트가 안되는것을 막을수 있다	//클릭, 더블클릭,F2
					myGrid2.enableBlockSelection(true);

					myGrid2.attachEvent("onKeyPress", fnObj.keyOpen.onKeyPressed);

					myGrid2.attachEvent("onRowSelect", function (rId, cInd) {	//현재 선택한 로우 1개를 대상으로

					});

					myGrid2.attachEvent("onRowDblClicked", function (rId, cInd) {

					});
				},//grid

				setWidth: function () {
					c_height = top.myLayout.cells("c").getHeight();
					c_width = top.myLayout.cells("c").getWidth();
					searchDiv_height = $("#searchDiv").height();
					searchDiv2nd_height = $("#searchDiv2nd").height();
					page_height = $("#page").height();
					xhdr_height = $(".xhdr").height();
					myGrid.enableAutoWidth(true, (c_width) * 0.69);
					myGrid.enableAutoHeight(true, window.innerHeight - searchDiv_height - searchDiv2nd_height - page_height - xhdr_height - 72);	//그리드 자동높이

					//console.log("1 : " + $(".objbox").height());
					$(".objbox").css("height", $(".objbox").height() + 26);	//20220311 정연호. 그리드 스크롤 관련 수정
					//console.log("2 : " + $(".objbox").height());

					//console.log("3 : " + $("#grid").height());
					$("#grid").css("height", $("#grid").height() + 24);	//20220311 정연호. 그리드 스크롤 관련 수정
					//console.log("4 : " + $("#grid").height());

					myGrid2.enableAutoWidth(true, (c_width) * 0.29);
					myGrid2.enableAutoHeight(true, window.innerHeight - searchDiv_height - searchDiv2nd_height - page_height - xhdr_height - 45);	//그리드 자동높이
				},	////END of setWidth
			},	//END of gridOpen
			searchOpen: {
				search: function () {	//그리드 목록 조회하기
					myGrid.clearAll(false);
					myGrid2.clearAll(false);
					if (!fnObj.searchOpen.searchChkVal.chkVal("search")) {
						alert(chkValMsg);
						return false;
					}

					var srchData = new FormData();
					srchData.append("cmpyCd", myComboCmpyCd.getSelectedValue());
					srchData.append("dtType", "3");
					srchData.append("fromDt", $("#dateFrom").val().replace(/-/g, ""));
					srchData.append("toDt", $("#dateTo").val().replace(/-/g, ""));
					srchData.append("agntList", $("#srchCode").val().replace(/\n/g, ","));
					srchData.append("dcList", myComboDcCd.getSelectedValue());
					srchData.append("instErList", myComboDcInstEr.getChecked());
					srchData.append("soNoList", $("#soNoList").val().replace(/\n/g, ","));

					/* console.log("응답결과 : srchData");
					for (var pair of srchData.entries())
					{ 
						console.log(pair[0]+ ' :  ' + pair[1]);
					} */


					$.ajax({
						url: "/erp203003List",
						processData: false,
						contentType: false,
						data: srchData,
						type: "POST",
						datatype: "json",
						success: function (res) {
							if (res) {
								searchRes = res;
								searchPaging(1);
								fnObj.searchOpen.search2();
							}
							else {
								alert("조회 수행 결과 없음");
							}
							//console.log("5 : " + $("#grid").height());
							$("#grid").css("height", $("#grid").height() - 24);	//20220311 정연호. 그리드 스크롤 관련 수정
							//console.log("6 : " + $("#grid").height());
						},
					});


				},	//END of search : function() {


				search2: function () {	//비율 조회

					var srchData2 = new FormData();
					srchData2.append("cmpyCd", myComboCmpyCd.getSelectedValue());
					srchData2.append("dtType", "3");
					srchData2.append("fromDt", $("#dateFrom").val().replace(/-/g, ""));
					srchData2.append("toDt", $("#dateTo").val().replace(/-/g, ""));
					srchData2.append("agntList", $("#srchCode").val().replace(/\n/g, ","));
					srchData2.append("dcList", myComboDcCd.getSelectedValue());
					srchData2.append("instErList", myComboDcInstEr.getChecked());
					srchData2.append("soNoList", $("#soNoList").val().replace(/\n/g, ","));

					/* console.log("응답률 : srchData2");
					for (var pair of srchData2.entries())
					{ 
						console.log(pair[0]+ ' :  ' + pair[1]);
					} */


					$.ajax({
						url: "/erp203003List2",
						processData: false,
						contentType: false,
						data: srchData2,
						type: "POST",
						datatype: "json",
						success: function (res) {
							if (res) {
								myGrid2.clearAll(false);

								var columns = myGrid.getColumnCount()
								for (var i = 0; i < res.length; i++) {
									var jsonData = {};
									for (var c = 0; c < columns; c++) {
										jsonData[myGrid2.getColumnId(c)] = res[i][myGrid2.getColumnId(c)];
									}

									myGrid2.addRow(i + 1, "");	//로우 추가	//로우는 1부터 시작해야함. 0부터 시작하면 안됨. 그래서 i 에 1을 더함
									myGrid2.setRowData(i + 1, jsonData);
								}
							}
							else {
								alert("조회 수행 결과 없음");
							}
							fnObj.gridOpen.setWidth();
						},
					});


				},	//END of search : function() {


				delSrchCode: function () {
					$("#srchCode").val("");
					$("#srchName").val("");
				},	//END of delSrchCode : function(){

				searchChkVal: {
					chkVal: function (chkGubn) {
						chkValMsg = "";	//메세지 초기화
						var rtnVal = true;

						if (chkGubn == "search") {
							if (!myComboCmpyCd.getSelectedValue()) {
								chkValMsg = chkValMsg + "회사코드가 없습니다\n";
								rtnVal = false;
							}


							if (!$("#dateFrom").val()) {
								chkValMsg = chkValMsg + "검색시작일을 입력하세요\n";
								rtnVal = false;
							}
							if (!$("#dateTo").val()) {
								chkValMsg = chkValMsg + "검색종료일을 입력하세요\n";
								rtnVal = false;
							}

							if ($("#dateFrom").val() && $("#dateTo").val()) {
								var date1 = new Date($("#dateFrom").val());
								var date2 = new Date($("#dateTo").val());
								if (date1 > date2)	//시작날짜가 크고 종료날짜가 작을떄
								{
									chkValMsg = chkValMsg + "검색시작일이 검색종료일보다 작습니다.\n";
									rtnVal = false;
								}
							}

							if ($("#dateFrom").val() && $("#dateTo").val()) {
								var date1 = new Date($("#dateFrom").val());
								var date2 = new Date($("#dateTo").val());
								var gapDate = (date2.getTime() - date1.getTime()) / (1000 * 60 * 60 * 24);
								if (gapDate > 31)	//시작날짜가 크고 종료날짜가 작을떄
								{
									chkValMsg = chkValMsg + "검색일은 최대 31일 입니다.\n";
									rtnVal = false;
								}
							}
						}
						return rtnVal;
					},	//END of chkVal : function(){
				},	//END of searchChkVal

			},	//END of searchOpen
			keyOpen: {
				enterKey: function (enterType) {
					if (window.event.keyCode == 13) {
						if (enterType == 'srchName') {
							$("#srchName").blur();
							$("#srchCode").blur();
							$("#srchCode").val("");
							fnObj.winOpen.commSrch('화주', 'A', 'AGENCY', 'text');
						}
					}
				},
				onKeyPressed: function (code, ctrl, shift) {
					if (code == 67 && ctrl) {
						myGrid.setCSVDelimiter("\t");
						myGrid.copyBlockToClipboard()
					}
					if (code == 86 && ctrl) {
						myGrid.pasteBlockFromClipboard()
					}
					return true;
				},
			}
		}

		//엑셀 헨들러
		var excelHandler = {
			getExcelFileName: function () {
				return '고객_응답_결과.xlsx';		//엑셀파일명
			},
			getSheetName: function () {
				return '고객_응답_결과';		//시트명
			},
			getExcelData: function () {
				return get_json_res2(myGrid, searchRes);		//그리드를 엑셀다운로드용 json 으로 변경
			},
			getWorksheet: function () {
				//엑셀 다운로드의 셀 타입을 텍스트 형태로 하는 법
				var worksheet = XLSX.utils.json_to_sheet(this.getExcelData());

				var range = XLSX.utils.decode_range(worksheet['!ref']);

				for (var r = range.s.r; r <= range.e.r; r++) {
					for (var c = range.s.c; c <= range.e.c; c++) {
						var cellName = XLSX.utils.encode_cell({ c: c, r: r });
						worksheet[cellName].z = '@';
					}
				}
				return worksheet;
			}
		}

		function searchPaging(page) {
			if ($("#rowPerPage").val()) {
				pagePerRow = parseInt($("#rowPerPage").val());
			}
			var pageRange = 10;	//페이지범위를 몇개씩짜를것인가. 예) 23페이지 라면 1 2 3 4 5 6 7 8 9 10  이 한번 나오고 >> 누르면 11 12 13 14 15 16 17 18 19 20 나오고 >> 누르면 21 22 23 나옴
			var totalPageCnt = searchRes.length % pagePerRow == 0 ? parseInt(searchRes.length / pagePerRow) : parseInt(searchRes.length / pagePerRow) + 1
			var a = "<div class='pagination-container'>";

			//패이징 처리
			var start = (page - 1);
			var end = (page - 1) + pageRange;

			if (start % pageRange != 0) {
				start = parseInt(start / pageRange) * pageRange;
			}

			if (end % pageRange != 0 || page == 1) {
				end = parseInt(end / pageRange) * pageRange;
			}

			if (start >= pageRange) {
				a += "<input type='button' onclick='searchPaging(" + 1 + ");' value='<<' class='pagination-button'>";
				a += "<input type='button' onclick='searchPaging(" + (start - 1) + ");' value='<' class='pagination-button'>";
			}

			var r = 0;

			for (r = start; r < end; r++) {
				if (r < totalPageCnt) {
					if (r + 1 == page)		//현재페이지 강조
					{
						a += "<input type='button' onclick='searchPaging(" + (r + 1) + ");' value=" + (r + 1) + " class='pagination-button active'>";
					} else {
						a += "<input type='button' onclick='searchPaging(" + (r + 1) + ");' value=" + (r + 1) + " class='pagination-button'>";
					}
				}
			}

			if (end * pagePerRow < searchRes.length) {
				a += "<input type='button' onclick='searchPaging(" + (end + 1) + ");' value='>' class='pagination-button'>";
				a += "<input type='button' onclick='searchPaging(" + totalPageCnt + ");' value='>>' class='pagination-button'>";
			}

			a += "<div class='pagination-info'>";
			a += "<input type='number' maxlength=4 id='rowPerPage' value=" + pagePerRow + ">";
			a += "<input type='button' value='적용' onclick='searchPaging(" + 1 + ");' class='action-button'>";
			a += "&nbsp;&nbsp;<i class='fa fa-calculator fa-lg' aria-hidden='true'></i>&nbsp;" + searchRes.length;
			a += "</div></div>";
			$("#page").html(a);

			var is = (page - 1) * pagePerRow;	//시작점
			var ie = (page - 1) * pagePerRow + pagePerRow;	//종료점

			if (searchRes.length < ie) {
				ie = searchRes.length;
			}

			myGrid.clearAll(false);

			var columns = myGrid.getColumnCount()
			for (var i = is; i < ie; i++) {
				var jsonData = {};
				for (var c = 0; c < columns; c++) {
					jsonData[myGrid.getColumnId(c)] = searchRes[i][myGrid.getColumnId(c)];
				}

				myGrid.addRow(i + 1, "");	//로우 추가	//로우는 1부터 시작해야함. 0부터 시작하면 안됨. 그래서 i 에 1을 더함
				myGrid.setRowData(i + 1, jsonData);
			}
			fnObj.gridOpen.setWidth();
		}

		$(document).ready(function () {

			myWins = new dhtmlXWindows();

			myGrid = new dhtmlXGridObject('grid');	//그리드
			myGrid2 = new dhtmlXGridObject('grid2');	//그리드
			myCalendar = new dhtmlXCalendarObject([{ input: "dateFrom", button: "dateFromIcon" }, { input: "dateTo", button: "dateToIcon" }


			]);

			var now = new Date()
			var year = now.getFullYear() + "";
			var month = (now.getMonth() + 1) + "";
			var date = now.getDate() + "";
			if (month.length == 1) {
				month = "0" + month;
			}
			if (date.length == 1) {
				date = "0" + date;
			}

			var today = year + "-" + month + "-" + date;

			$("#dateFrom").val(today);
			$("#dateTo").val(today);

			myCalendar.loadUserLanguage("ko");
			fnObj.comboOpen.comboDcInstEr();	//시공기사 콤보 목록
			fnObj.comboOpen.comboCmpyCd();	//회사콤보 바인드
			fnObj.comboOpen.comboDcCd();	//물류센터 콤보	
			//fnObj.comboOpen.comboDcInstEr();	//시공기사 콤보 목록

			fnObj.gridOpen.grid();
			fnObj.gridOpen.grid2();
			window.onresize = function (event) {		//윈도우의 사이즈가 변경했을떄
				fnObj.gridOpen.setWidth();
				fnObj.gridOpen.setWidth();
			};
		});



		//20211226 정연호 추가. 키보드에서 F2 누르면 조회하기
		$(document).keydown(function (event) {
			if (event.keyCode == 113 || event.which == 113) {
				fnObj.searchOpen.search();
				fnObj.searchOpen.search2();
			}
		});
	</script>
</head>

<body>
	<div id="mainDiv">
		<div id="searchDiv">
			<div id="btnDiv1">
				<span class="title-container">
					<span class="item-head title-text">고객 응답 결과</span>
					<span class="sub-title">erp203003</span>
				</span>
				<span class="btn-container">
					<span class="item-data">
						<input id="btnSearch" class="action-button primary" type="button"
							onclick="fnObj.searchOpen.search()" value="조회(F2)">
					</span>

					<span class="item-data">
						<input id="btnExcelDown" class="action-button secondary" type="button"
							onclick="if(myGrid.getRowsNum() == 0){alert('조회를 하세요.');return;} exportExcel(); "
							value="엑셀다운로드"></span>
					<span class="item-data">
						<input id="btnReload" class="action-button secondary" type="button"
							onclick="location.reload(true);" value="초기화">
					</span>
				</span>
			</div>
			<div id="searchDiv1">
				<span class="cell" style="display:none;">
					<span class="item-head">회사</span>
					<span class="item-data">
						<div id="cmpyCd"></div>
					</span>
				</span>
				<span id="fromTo" class="cell">
					<span class="item-head">배송완료일</span>
					<span class="item-data icon-cell">
						<input type="text" id="dateFrom" readonly>
						<i id="dateFromIcon" class="fa fa-calendar fa-lg" aria-hidden="true"></i>
					</span>
					<span class="item-data">
						<input type="text" id="dateTo" readonly>
						<i id="dateToIcon" class="fa fa-calendar fa-lg" aria-hidden="true"></i>
					</span>
				</span>

				<span class="cell">
					<span class="item-head">화주사</span>
					<span class="item-data icon-cell">
						<input type="text" id="srchName" onkeyup="fnObj.keyOpen.enterKey('srchName');"></input>
						<i id="srchIcon" class="fa fa-search" aria-hidden="true"
							onclick="fnObj.winOpen.commSrch('화주','A','AGENCY','text')"></i>
					</span>
					<span class="item-data">
						<input type="text" id="srchCode" style="width:102px;" readonly></input>
						<i id="delIcon" class="fa fa-minus-circle" aria-hidden="true"
							onclick="fnObj.searchOpen.delSrchCode()"></i>
					</span>
				</span>

				<span class="cell">
					<span class="item-head">물류센터</span>
					<span class="item-data">
						<div id="dcCd"></div>
					</span>
				</span>

				<span class="cell">
					<span class="item-head">배송기사</span>
					<span class="item-data">
						<div opt_type="checkbox" id="dcInstEr"></div>
					</span>
				</span>

				<span class="cell">
					<span class="item-head">AL 오더</span>
					<span class="item-data">
						<textArea id="soNoList"></textArea>
					</span>
				</span>
			</div>
		</div>
		<div id="searchDiv2nd" style="display:none;">
			<div id="btnDiv2nd1">
				<span class="cell">
				</span>
			</div>
			<div id="searchDiv2nd1">
			</div>
		</div>
		<div id="gridDiv" >
			<div id="grid" style="width:80%;float:left;">
			</div>
			<div id="grid2" style="width:20%;float:right;"></div>
		</div>
		<div id="page" style="width:100%;float:left;"></div>
	</div>
</body>

</html>