<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>권역등록/수정 (erp902003p1)</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.dhtmlx.com/edge/fonts/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.dhtmlx.com/edge/skins/terrace/dhtmlx.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/commCode.js"></script>

    <script th:inline="javascript">
        fnObj = {
            winOpen: {},	//END of winOpen
            comboOpen: {
                comboZoneType: function () {		//권역유형 콤보
                    myComboZoneType = new dhtmlXCombo("zoneType");
                    comboList(myComboZoneType, 'A', 'COMM', 'ZONE_TYPE', '', 'Y', 'req');
                    myComboZoneType.selectOption(0);
                    myComboZoneType.selectOption(myComboZoneType.getIndexByValue(/*[[${sendObject.zoneType}]]*/));

                    myComboZoneType.setFontSize("12px", "12px");
                    myComboZoneType.attachEvent("onChange", function (value, text) {

                    });
                },
            },	//END of comboOpen
            gridOpen: {},	//END of gridOpen
            btnOpen: {
                //권한그룹코드 중복 체크
                doubleChk: function () {
                    $("#spanGrntSave").hide();
                    $("#spanGrntUpdt").hide();

                    if (!myComboZoneType.getSelectedValue()) {
                        alert("권역유형을 선택하세요");
                        return false;
                    }

                    if (!$("#zoneCd").val()) {
                        alert("권역코드를 입력하세요");
                        return false;
                    }
                    if ($("#zoneCd").val().length != 4) {
                        alert("숫자 4자리를 입력하세요");
                        return false;
                    }
                    /* if(!$("#zoneNm").val())
                    {
                        alert("권역명칭을 입력하세요");
                        return false;
                    } */

                    var sendData = new FormData();
                    sendData.append("cmpyCd", $("#cmpyCd").text());
                    sendData.append("commCd", myComboZoneType.getSelectedValue());
                    sendData.append("comdCd", $("#zoneCd").val());


                    $.ajax({
                        url: "/erp902003p1DoubleChk",
                        processData: false,
                        contentType: false,
                        data: sendData,
                        type: "POST",
                        datatype: "json",
                        async: false,
                        success: function (res) {
                            if (res) {
                                console.log(res);
                                if (res.rtnYn == "Y")	//신규등록
                                {
                                    alert("없는 권역코드입니다. 권역 신규등록 가능!")
                                    $("#spanGrntSave").show();
                                    $("#spanGrntUpdt").hide();

                                } else if (res.rtnYn == "N")	//기존것 수정
                                {
                                    alert("사용중인 권역코드입니다. 권역명칭만 수정가능!")
                                    $("#spanGrntSave").hide();
                                    $("#spanGrntUpdt").show();
                                    $("#zoneNm").val(res.comdNm);
                                    $("#tblCommMId").val(res.tblCommMId);
                                } else		//결과 리턴값이 없으면 오류다
                                {
                                    alert("중복확인 결과 없음")
                                }
                            } else {
                                alert("중복확인 결과 없음.")
                            }

                        },
                        /*    error : function(error){
                               alert("중복확인 로직 호출 실패")
                           } */
                    });
                },	//END of doubleChk : function() {
                grntSave: function (saveGubn) {

                    console.log("saveGubn : " + saveGubn);
                    if (!saveGubn) {
                        alert("오류 발생 : 등록/수정 구별인자 없음");
                        return;
                    }
                    if (!myComboZoneType.getSelectedValue()) {
                        alert("권역유형을 선택하세요");
                        return false;
                    }

                    if (!$("#zoneCd").val()) {
                        alert("권역코드를 입력하세요");
                        return false;
                    }
                    if ($("#zoneCd").val().length != 4) {
                        alert("숫자 4자리를 입력하세요");
                        return false;
                    }
                    if (!$("#zoneNm").val()) {
                        alert("권역명칭을 입력하세요");
                        return false;
                    }


                    var save = new FormData();
                    save.append("saveGubn", saveGubn);
                    save.append("tblCommMId", $("#tblCommMId").val());
                    save.append("cmpyCd", $("#cmpyCd").text());
                    save.append("commCd", myComboZoneType.getSelectedValue());
                    save.append("commNm", myComboZoneType.getSelectedText());
                    save.append("commDesc", myComboZoneType.getSelectedText());
                    save.append("comdCd", $("#zoneCd").val());
                    save.append("comdNm", $("#zoneNm").val());
                    save.append("comdDesc", $("#zoneNm").val());
                    save.append("useYn", "Y");
                    save.append("saveUser",	/*[[${session.tblUserMId}]]*/);

                    $(top.document).find('#loader').show();
                    $.ajax({
                        url: "/erp902003p1Save",
                        processData: false,
                        contentType: false,
                        data: save,
                        type: "POST",
                        datatype: "json",
                        success: function (res) {
                            $(top.document).find('#loader').hide();
                            if (res) {
                                console.log(res);
                                if (res.rtnYn == "Y")	//신규등록
                                {
                                    parent.myComboZoneType.unSelectOption();
                                    parent.myGrid.clearAll(false);
                                    parent.myComboZoneType.clearAll();
                                    parent.comboList(parent.myComboZoneType, 'A', 'COMM', 'ZONE_TYPE', '', 'Y', 'req');
                                    parent.myComboZoneType.selectOption(0);
                                    alert("완료하였습니다.")

                                    parent.myWins.window(/*[[${sendObject.windowId}]]*/).close();
                                } else		//결과 리턴값이 없으면 오류다
                                {
                                    alert("실패하였습니다.")
                                }
                            } else {
                                alert("실패하였습니다.")
                            }
                        },
                    });
                },		//END of grntSave : function(saveGubn){

            }

        };//END of fnObj


        $(document).ready(function () {
            console.log(pageUrl());

            fnObj.comboOpen.comboZoneType();
            $("#cmpyCd").text(/*[[${sendObject.cmpyCd}]]*/);
            $("#cmpyNm").text(/*[[${sendObject.cmpyNm}]]*/);


            $("#zoneCd").focus(function () {
                $("#spanGrntSave").hide();
                $("#spanGrntUpdt").hide();
                $("#zoneNm").val("");
                $("#tblCommMId").val("");
            });

        });


    </script>
</head>

<body>

<div id="mainDiv">
    <div class="popup-header-container">
        <div class="popup-header-text">
            권역 관리
        </div>
    </div>

    <div class="search-container">
        <div class="search-item">
            <span class="search-label">회사코드</span>
            <span class="search-input" disabled="" id="cmpyCd"></span>
        </div>

        <div class="search-item">
            <span class="search-label">회사명칭</span>
            <span class="search-input" disabled="" id="cmpyNm"></span>
        </div>

        <div class="search-item">
            <span class="search-label">권역유형</span>
            <div id="zoneType"></div>
        </div>

        <div class="search-item">
            <span class="search-label">권역코드</span>
            <input type="text" id="zoneCd" class="search-input" name="zoneCd"
                   minlength='4' maxlength='4'
                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>

            <input id="btnDoubleChk" class="action-button" type="button" onclick="fnObj.btnOpen.doubleChk()"
                   value="중복확인">
        </div>

        <div class="search-item">
            <span class=search-label>권역명칭</span>
            <input type="text" id="zoneNm" class="search-input" name="zoneNm">
        </div>


        <div class="search-item" style="display:none;" id="spanGrntSave">
			<span class="item-data"><input id="btnGrntSave" type="button" onclick="fnObj.btnOpen.grntSave('ins')"
                                           value="등록" style="width:70px;"></span>
        </div>

        <span class="cell" style="width:90px;display:none;" id="spanGrntUpdt">
			<span class="item-data"><input id="btnGrntUpdt" type="button" onclick="fnObj.btnOpen.grntSave('updt')"
                                           value="수정"></span>
		</span>
        <input type="text" id="tblCommMId" name="tblCommMId" readOnly/>
    </div>
</div>
</body>
</html>
