<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonictms.alsys.erp.erp902004.mapper.Erp902004Mapper">

	<!-- 그리드 목록 조회하기 -->
    <select id="erp902004List"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO"
    															resultType		="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO">
        {
	      CALL ${schema}..USP_DCPOST_LISTBYALL (
	      	#{cmpyCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{dcCd		,mode=IN	,	jdbcType=VARCHAR},
	      
	      	#{sidoNm	,mode=IN	,	jdbcType=VARCHAR},
	      	#{siguNm	,mode=IN	,	jdbcType=VARCHAR},
	      	#{postCd	,mode=IN	,	jdbcType=VARCHAR},
	      	#{useYn		,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>

	<!-- 물류센터매핑저장하기 -->
    <select id="erp902004Save"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO"
    															resultType		="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO">
        {
	      CALL ${schema}..USP_DCPOST_SAVE (
	      	#{tblLgstDcpostMId	,mode=IN	,	jdbcType=VARCHAR},
	      	#{cmpyCd				,mode=IN	,	jdbcType=VARCHAR},
	      	#{dcCd					,mode=IN	,	jdbcType=VARCHAR},
	      	#{postCd				,mode=IN	,	jdbcType=VARCHAR},
	      	#{memo					,mode=IN	,	jdbcType=VARCHAR},
	      	#{saveUser				,mode=IN	,	jdbcType=VARCHAR}
	      )      
      }
    </select>
    
    <!-- 권역매핑삭제하기 -->
    <select id="erp902004Delete"  statementType="CALLABLE"		parameterType	="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO"
    															resultType		="com.sonictms.alsys.erp.erp902004.entity.Erp902004VO">
        {
	      CALL ${schema}..USP_DCPOST_DELETE (
	      	#{tblLgstDcpostMId	,mode=IN	,	jdbcType=VARCHAR}
	      	
	      )      
      }
    </select>
    
    
   
    
         
</mapper>
